.dp {
  background: #000;
  color: #fff;

  & &__title{
    min-height: 600px;
    background: #000;
    background-image: url('/assets/img/page-dev/page-dev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &-text {
      width: 100%;
      margin-top: 3em;
      text-align: center;

      &--left{
        transform: translateY(100%);
      }
      &--right{
        transform: translateY(-100%);
      }
    }
  }
}

