.dp {
  background: #000;
}
.dp .dp__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  height: 100%;
}
.dp .dp__backdrop .col {
  padding-right: 0;
  padding-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.dp .dp__backdrop .col.col--1 {
  left: 16.66666667%;
}
.dp .dp__backdrop .col.col--2 {
  left: 33.33333333%;
}
.dp .dp__backdrop .col.col--3 {
  left: 50%;
}
.dp .dp__backdrop .col.col--4 {
  left: 66.66666667%;
}
.dp .dp__backdrop .col.col--5 {
  left: 83.33333333%;
}
.dp .dp__title {
  min-height: 600px;
  background: #000;
  background-image: url('/assets/img/page-dev/page-dev.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.dp .dp__title-text--left {
  transform: translate(-100%, -10%);
}
.dp .dp__title-text--right {
  transform: translate(0%, 50%);
}
.dp .dp__content {
  max-width: 66.666667%;
}
.dp .dp__content-introduction {
  left: -25%;
  padding-left: 25%;
  transform: translateY(-180px);
  background: #000;
}
.dp .dp__content-facilities {
  max-width: 75%;
}
.dp .dp__content-examples-slider {
  padding-right: 0;
}
.dp .dp__content-news-item:before {
  content: '';
  position: absolute;
  top: -20%;
  width: 5%;
  height: 5%;
  background: #fff;
}
.dp .dp__team {
  overflow: hidden;
}
.dp .dp__team-backdrop {
  width: 100%;
  height: 100%;
  background: url('/assets/img/page-dev/dev-link.jpg') no-repeat;
  background-size: 100%;
  background-position: cover ;
  transform: scale(1);
  opacity: 0.45;
  transition: all 3s;
}
.dp .dp__team-backdrop:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.dp .dp__team-inner {
  top: 5%;
  width: 15%;
  padding-left: 1.7%;
  margin-left: 15%;
  z-index: 2;
}
