.dp {
  background: #000;
  color: #fff;
}
.dp .dp__title {
  min-height: 600px;
  background: #000 url(/assets/img/page-dev/dp-dev.jpg) no-repeat;
  background-position: 50% 50%;
}
.dp .dp__title-text {
  width: 100%;
  margin-top: 3em;
  text-align: center;
}
.dp .dp__title-text--left {
  transform: translateY(100%);
}
.dp .dp__title-text--right {
  transform: translateY(-100%);
}
