.dp {
  background: #000;
  color: #fff;
}
.dp .dp__title {
  min-height: 600px;
  background: #000;
  background-image: url('/assets/img/page-dev/page-dev.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.dp .dp__title-text {
  width: 100%;
  margin-top: 3em;
  text-align: center;
}
.dp .dp__title-text--left {
  transform: translateY(100%);
}
.dp .dp__title-text--right {
  transform: translateY(-100%);
}
.dp .dp__link {
  display: block;
  background: #000 url('/assets/img/page-dev/dev-link.jpg') no-repeat;
  background-size: cover;
}
.dp .dp__link-inner {
  margin-left: 15%;
}
