<div class="container-fluid development-page">
  <!-- Development backdrop
    <div class="development-page__backdrop">
      <span class="col col--1"></span>
      <span class="col col--2"></span>
      <span class="col col--3"></span>
      <span class="col col--4"></span>
      <span class="col col--5"></span>
  </div> -->

  <!-- Development content -->
  <div class="block development-page__title">
    <h1>Development</h1>
  </div>

  <div class="container development-page__content">
    <div class="grid development-page__content-introduction">
      <div class="col col--3-4">
        <h2></h2>
      </div>
    </div>

    <div class="grid development-page__content-facilities">
        <div class="col col--3-4"></div>
    </div>

    <div class="grid development-page__content-examples">
        <div class="grid development-page__content-examples-headline">
            <div class="col col--1-4"></div>
            <div class="col col--1-4"></div>
            <div class="col col--1-4"></div>
        </div>
        <div class="grid development-page__content-examples-slider">
            <div class="col col--1-1"></div>
        </div>
    </div>

      <div class="grid development-page__content-info"> <!--development-page__content-news -->
        <div class="col col--1-2"></div>
        <div class="col col--1-2"></div>
    </div>
  </div>

  <a class="block development-page__link"> Who doese do it ? </a>   <!--router-link -->

  <div class="grid development-page__footer">
      <div class="col col--1-2 development-page__footer-nav "></div>
      <div class="col col--1-2 development-page__footer-contacts"></div>
  </div>
</div>

