<div class="container-fluid dp">
  <!-- Development backdrop
    <div class="development-page__backdrop">
      <span class="col col--1"></span>
      <span class="col col--2"></span>
      <span class="col col--3"></span>
      <span class="col col--4"></span>
      <span class="col col--5"></span>
  </div> -->

  <!-- Development content -->
  <div class="block dp__title">
    <h1 class="dp__title-text t--title">
      <span class="dp__title-text dp__title-text--left">Devel</span>
      <span class="dp__title-text dp__title-text--right">opment</span>
    </h1>
  </div>

  <div class="container dp__content">
    <div class="grid development-page__content-introduction">
      <div class="col col--3-4">
        <h2>Coming to watch a broadcast or got a meeting in the building?</h2>
        <h3>Below you’ll find all you need to organise your visit</h3>
        <p>
          The programmes Zapplive, Opsporing Verzocht and Radar are all made in M.
           You can also watch broadcasts live from our public gallery.
        </p>
      </div>
    </div>

    <div class="grid dp__content-facilities">
      <div class="col col--3-4">
          <h2>Facilities</h2>
          <h3>Make yourself at home</h3>
          <p>
              Hiring office space, organizing an event: it’s all possible here.
              Whether dropping by our café or you need to hire a room for an appointment or larger meeting.
              Just let us know your needs and we'll help you out.
          </p>
      </div>
    </div>

    <div class="grid dp__content-examples">
        <div class="grid dp__content-examples-headline">
            <div class="col col--1-4">Café</div>
            <div class="col col--1-4">Restaurant</div>
            <div class="col col--1-4">Lounge</div>
            <div class="col col--1-4">Lounge</div>
        </div>
        <div class="grid dp__content-examples-slider">
            <div class="col col--1-1">
              <app-slider></app-slider>
            </div>
        </div>
    </div>

      <div class="grid dp__content-info"> <!--development-page__content-news -->
        <div class="col col--1-2"></div>
        <div class="col col--1-2"></div>
    </div>
  </div>

  <a class="block dp__link"> Who's based here? ?
    <div class="block dp__link"> </div>
  </a>   <!--router-link -->

  <div class="grid dp__footer">
      <div class="col col--1-2 dp__footer-nav "></div>
      <div class="col col--1-2 dp__footer-contacts"></div>
  </div>
</div>

