.block--white .carousel-inner {
  min-height: 50vh;
  padding: 0 1rem;
  margin: 1rem 0;
}
.block--white .carousel-indicators {
  bottom: 0;
}
.block--white .carousel-indicators li {
  background-color: #000;
  height: 5px;
}
.block--white li.active {
  background-color: #0ca734;
}
.block--white .carousel-control-next-icon {
  background-image: url(/assets/img/icons/right-arrow.svg);
}
.block--white .carousel-control-prev-icon {
  background-image: url(/assets/img/icons/left-arrow.svg);
}
.block--white .carousel-control-next {
  right: -5rem;
}
.block--white .carousel-control-prev {
  left: -5rem;
}
.block--white .slider__title {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: 600;
  margin-bottom: 10rem;
}
.block--white .slider__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  padding-left: 4rem;
}
.block--white .slider__text--mention::before {
  content: open-quote;
  color: #0ca734;
}
.block--white .slider__text--mention::after {
  content: close-quote;
  color: #0ca734;
}
@media only screen and (min-width: 1024px) and (max-width: 1219px) {
  .block--white .slider__title {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 4rem;
  }
  .block--white .carousel-inner {
    min-height: 40vh;
  }
  .block--white .carousel-control {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .block--white .slider__title {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .block--white .slider__text {
    font-weight: 600;
  }
  .block--white .carousel-control {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .block .slider__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .block .slider__text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .block .carousel-control {
    display: none;
  }
}
