<section class="cv-body grid">
  <div class="cv-body__name col--2-3">
    <h1 class="cv-body__title">FirstName LastName</h1>
    <p class="cv-body__text">Solid Expert --- Developer</p>
  </div>
  <div class="cv-body__photo col--1-3">
    <img class="cv-body__photo-img" src="" alt="developer photo" />
  </div>
  <div class="cv-body__education col--1-1">
    <p class="cv-body__text">Faculty, Specialization</p>
    <p class="cv-body__text">Educational establishment, Graduation year</p>
    <p class="cv-body__text">GPA : ---</p>
  </div>

  <div class="cv-body__experience col--1-1">
    <h2 class="cv-body__subtitle t--c">TECHNICAL EXPERIENCE</h2>
    <!-- <div class="grid">
      <div class="col--4-5 cv-body__experience-skill">Skill</div>
      <div class="col--1-5 cv-body__experience-level">level</div>
    </div> -->
    <dl class="grid">
      <dt class="cv-body__text col--4-5">Skill 1</dt>
      <dd class="cv-body__text col--1-5">level 1</dd>
      <dt class="cv-body__text col--4-5">Skill 2</dt>
      <dd class="cv-body__text col--1-5">level 2</dd>
    </dl>
  </div>

  <div class="cv-body__compamy col--1-1">
    <h2 class="cv-body__subtitle t--c">COMPANY DETAILS</h2>
    <div class="grid">
      <div class="cv-body__text col--1-1 t--bold">http://solidexpert.site</div>
      <div class="col--1-3">
        <h3 class="cv-body__subtitle-inner t--italic t--gray">Offices</h3>
        <p class="cv-body__text t--bold">Headquarters Minsk, Minskaya</p>
      </div>
      <div class="col--1-3">
        <h3 class="cv-body__subtitle-inner t--italic t--gray">Company type</h3>
        <p class="cv-body__text t--bold">Privately Held</p>
      </div>
      <div class="col--1-3">
        <h3 class="cv-body__subtitle-inner t--italic t--gray">Company size</h3>
        <p class="cv-body__text t--bold">2-10 employees</p>
      </div>
      <div class="col--1-1">
        <h3 class="cv-body__subtitle-inner t--italic t--gray">Specialties</h3>
        <p class="cv-body__text t--bold">
          .Net, .Net Core, Kotlin, Objective-C, Java, Android, iOS application.
        </p>
      </div>
    </div>
  </div>
  <div class="cv-body__projects col--1-1">
    <h2 class="cv-body__subtitle t--c">PROJECTS SUMMARY</h2>
    <div class="grid">
      <div class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <dl class="grid cv-body__project-description">
          <dt class="cv-body__text t--bold col--1-2">Project name</dt>
          <dd class="cv-body__text col--1-2">Name</dd>
          <dt class="cv-body__text t--bold col--1-2">Project time spent</dt>
          <dd class="cv-body__text col--1-2">1000 h</dd>
          <dt class="cv-body__text t--bold col--1-2">Job Position</dt>
          <dd class="cv-body__text col--1-2">determination 3</dd>
          <dt class="cv-body__text t--bold col--1-2">Roles</dt>
          <dd class="cv-body__text col--1-2">determination 4</dd>
          <dt class="cv-body__text t--bold col--1-2">Product</dt>
          <dd class="cv-body__text col--1-2">determination 5</dd>
          <dt class="cv-body__text t--bold col--1-2">Customer</dt>
          <dd class="cv-body__text col--1-2">determination 6</dd>
          <dt class="cv-body__text t--bold col--1-2">Participation</dt>
          <dd class="cv-body__text col--1-2">determination 7</dd>
          <dt class="cv-body__text t--bold col--1-2">Team</dt>
          <dd class="cv-body__text col--1-2">determination 8</dd>
          <dt class="cv-body__text t--bold col--1-2">Database (DBMS)</dt>
          <dd class="cv-body__text col--1-2">determination 9</dd>
          <dt class="cv-body__text t--bold col--1-2">Tools</dt>
          <dd class="cv-body__text col--1-2">determination 10</dd>
          <dt class="cv-body__text t--bold col--1-2">Technologies</dt>
          <dd class="cv-body__text col--1-2">determination 11</dd>
        </dl>
      </div>
      <div class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <dl class="grid cv-body__project-description">
          <dt class="cv-body__text t--bold col--1-2">Project name</dt>
          <dd class="cv-body__text col--1-2">Name</dd>
          <dt class="cv-body__text t--bold col--1-2">Project time spent</dt>
          <dd class="cv-body__text col--1-2">1000 h</dd>
          <dt class="cv-body__text t--bold col--1-2">Job Position</dt>
          <dd class="cv-body__text col--1-2">determination 3</dd>
          <dt class="cv-body__text t--bold col--1-2">Roles</dt>
          <dd class="cv-body__text col--1-2">determination 4</dd>
          <dt class="cv-body__text t--bold col--1-2">Product</dt>
          <dd class="cv-body__text col--1-2">determination 5</dd>
          <dt class="cv-body__text t--bold col--1-2">Customer</dt>
          <dd class="cv-body__text col--1-2">determination 6</dd>
          <dt class="cv-body__text t--bold col--1-2">Participation</dt>
          <dd class="cv-body__text col--1-2">determination 7</dd>
          <dt class="cv-body__text t--bold col--1-2">Team</dt>
          <dd class="cv-body__text col--1-2">determination 8</dd>
          <dt class="cv-body__text t--bold col--1-2">Database (DBMS)</dt>
          <dd class="cv-body__text col--1-2">determination 9</dd>
          <dt class="cv-body__text t--bold col--1-2">Tools</dt>
          <dd class="cv-body__text col--1-2">determination 10</dd>
          <dt class="cv-body__text t--bold col--1-2">Technologies</dt>
          <dd class="cv-body__text col--1-2">determination 11</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
