.contact {
  background: #000;
  color: #fff;
}
.contact .contact__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  height: 100%;
}
.contact .contact__backdrop .col {
  padding-right: 0;
  padding-left: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.contact .contact__backdrop .col.col--1 {
  left: 16.66666667%;
}
.contact .contact__backdrop .col.col--2 {
  left: 33.33333333%;
}
.contact .contact__backdrop .col.col--3 {
  left: 50%;
}
.contact .contact__backdrop .col.col--4 {
  left: 66.66666667%;
}
.contact .contact__backdrop .col.col--5 {
  left: 83.33333333%;
}
.contact .contact__title {
  min-height: 300px;
}
.contact .contact__title-text--left {
  transform: translate(-100%, -10%);
}
.contact .contact__title-text--right {
  transform: translate(0%, 50%);
}
.contact .contact__content {
  max-width: 70.4%;
}
.contact .contact__content-story-img {
  width: 100%;
}
.contact .contact__content-form {
  background: #fff;
  height: auto;
  padding: 60px 5px 0;
}
.contact__map {
  height: 400px;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact .contact__title {
    min-height: 200px;
  }
  .contact .contact__title-text {
    font-size: 4rem !important;
  }
  .contact .contact__content-form {
    padding: 30px 5px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px - 1) {
  .contact .contact__title {
    min-height: 200px;
  }
  .contact .contact__title-text {
    font-size: 3rem !important;
  }
  .contact .contact__content-form {
    padding: 20px 5px 0;
  }
}
@media only screen and (max-width: 320px) {
  .contact .contact__title {
    min-height: 150px;
  }
  .contact .contact__title-text {
    font-size: 3rem !important;
  }
  .contact .contact__content-form {
    padding: 20px 5px 0;
  }
}
