<div class="contact container-fluid ">
  <!-- Contact backdrop -->
  <div class="contact__backdrop">
      <span class="col col--1"></span>
      <span class="col col--2"></span>
      <span class="col col--3"></span>
      <span class="col col--4"></span>
      <span class="col col--5"></span>
  </div>
  <!-- Contact content -->

  <header class="contact__title block ">
    <h1 class="contact__title-text position--r t--title m--t-xxlg t--c">
      <span class="contact__title-text contact__title-text--left position--a"
        >Contact</span
      >
      <span class="contact__title-text contact__title-text--right position--a"
        >Us</span
      >
    </h1>
  </header>
  <main class="contact__content container p--b-lg ">
    <section class="contact__content-intro grid">
      <div class="col col--1-2">
        <h2 class="t--h1 t--bold">
          M is a melting pot of people, companies and services with media in
          their DNA.
        </h2>
        <h3 class="t--h4">‘Media-minded’, as we call it.</h3>
        <p class="m--v-lg">
          Together, we are the beating heart of the new media world. In the
          media building, directors, editors, engineers, designers, producers
          and writers collaborate on very special stories. Stories that we
          facilitate with state-of-the-art studios, office spaces, restaurants
          and workplaces. By thinking with our colleagues, tenants and visitors,
          we’re able to deliver tailored solutions and together develop new,
          inspiring ways to make media. And we would love to have the chance to
          do that with you, too.
        </p>
      </div>
      <div class="col col--1-2">intro video</div>
    </section>
    <section class="contact__content-story grid">
      <div class="col col--1-2">
        <img
          class="contact__content-story-img"
          src="/assets/img/page-contact/contact.jpg"
          alt=""
        />
      </div>
      <div class="col col--1-2">
        <h2 class="t--h1 t--bold">How it began</h2>
        <h3 class="t--h4">
          M is an initiative of the AKN Foundation (the broadcasters AVRO, KRO &
          NCRV)
        </h3>
        <p class="m--v-lg">
          The foundation, which has been based in this distinctive building
          since 2000, aims to bring media makers from a variety of backgrounds
          together in an innovative environment, to stimulate new collaborations
          and fresh and forms of media: the idea for the homebase of the
          media-minded was born. And in June 2018, M officially opened its
          doors.
        </p>
      </div>
    </section>
    <section class="contact__content-logo grid">
      <div class="col col--1-2">
        <h2 class="t--h1 t--bold">The letter M</h2>
        <h3 class="t--h4">A dynamic shape</h3>
        <p class="m--v-lg">
          The brand name, M, was inspired by the design of the building itself
          (there is a large M-shaped sound wave on the roof), its history and
          the unifying factor: media. In one powerful letter, the media building
          tells its story.
        </p>
      </div>
      <div class="col col--1-2">logo <img src="" alt="" /></div>
    </section>
    <!--
      <section class="contact__content-advantages block">
        <div class="col col--3-4">adv</div>
        <div class="col col--3-4">adv-slider</div>
      </section>
    -->
    <section class="contact__content-details grid">
      <div class="contact__content-details-item col col--1-4 flex flex--column flex--right flex--bottom">
        <h3 class="t--h4">Global questions</h3>
        <p class="">tel: 035 671 4550</p>
      </div>
      <div class="contact__content-details-item col col--1-4 flex flex--column flex--left flex--bottom">
        <h3 class="t--h4">Global questions</h3>
        <p class="">tel: 035 671 4550</p>
      </div>
      <div class="contact__content-details-item col col--1-4 flex flex--column flex--right flex--bottom">
        <h3 class="t--h4">Global questions</h3>
        <p class="">tel: 035 671 4550</p>
      </div>
      <div class="contact__content-details-item col col--1-4 flex flex--column flex--left flex--bottom">
        <h3 class="t--h4">Global questions</h3>
        <p class="">tel: 035 671 4550</p>
      </div>
    </section>
  </main>
  <a class="contact__team block  d--b h--400 ">
    <div class="contact__team-backdrop position--a"></div>
    <div class="contact__team-inner position--a">
      <h2 class="t--h1 t--bold">Who's based here?</h2>
      <p class="t--h5 t--uppercase link link--line">View all residents</p>
    </div>
  </a>
</div>
