.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .contact__left {
  display: block;
  width: 50%;
  max-width: 50%;
  max-height: 100vh;
  overflow: hidden;
}
.contact .contact__left-img {
  background-image: url('/assets/img/contact-page/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}
.contact .contact__left-img img {
  opacity: 0;
  visibility: hidden;
}
.contact .contact__body {
  display: block;
  width: 50%;
  min-height: 100vh;
  padding: 100px;
}
.contact .contact__address-text {
  display: block;
  margin: 0;
  line-height: 1.5;
}
.contact .contact__address-link {
  display: block;
  margin: 0;
  line-height: 1.5;
  color: #333;
  text-decoration: underline;
}
.contact .contact__question-send {
  text-align: center;
}
@media only screen and (min-width: 1600px) {
}
@media only screen and (min-width: 1220px) and (max-width: 1599px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1219px) {
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact .contact__body {
    padding: 100px 50px;
  }
  .contact .contact__question-send {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .contact {
    flex-wrap: wrap;
  }
  .contact .contact__left {
    display: none;
  }
  .contact .contact__body {
    width: 100%;
    padding: 100px 30px;
  }
  .contact .contact__question-send {
    margin-bottom: 20px;
  }
}
