@import "../../../../web-src/less/variables.less";
.contact {
  background: #000;
  color: #fff;

  & &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    min-height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    height: 100%;

    .col {
      padding-right: 0;
      padding-left: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 1px;
      background-color: hsla(0, 0%, 100%, 0.16);
      z-index: 2;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &.col--1 {
        left: 16.66666667%;
      }
      &.col--2 {
        left: 33.33333333%;
      }
      &.col--3 {
        left: 50%;
      }
      &.col--4 {
        left: 66.66666667%;
      }
      &.col--5 {
        left: 83.33333333%;
      }
    }
  }

  & &__title {
    min-height: 300px;

    &-text {
      &--left {
        // top: 0;
        // left: 0;
        transform: translate(-100%, -10%);
      }
      &--right {
        // top: 0;
        // left: 0;
        transform: translate(0%, 50%);
      }
    }
  }
  & &__content {
    max-width: 70.4%;

    &-story-img {
      width: 100%;
    }

    &-form{
      background: #fff;
      height: auto;
      padding: 60px 5px 0;
    }
  }

}
.contact__map{
    height: 400px;
    width: 100%;
}

// width 1024 - 1219
@media only screen and (min-width: @breakpoint-md-min) and (max-width: (@breakpoint-lg-min - 1)) {

}
// width 768 - 1023
@media only screen and (min-width: @breakpoint-sm-min) and (max-width: (@breakpoint-md-min - 1)) {
  .contact{
    & &__title {
      min-height: 200px;
    }
    & &__title-text{
      font-size: 4rem !important;

    }
    & &__content-form{
      padding: 30px 5px 0;
    }
  }
}
// width 320 - 767
@media only screen and (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-sm-min - 1) {
  .contact{
    & &__title {
      min-height: 200px;
    }
    & &__title-text{
      font-size: 3rem !important;
    }
    & &__content-form{
      padding: 20px 5px 0;
    }
  }
}

// width 0 - 319
@media only screen and (max-width: @breakpoint-xs-min) {
  .contact{
    & &__title {
      min-height: 150px;
    }
    & &__title-text{
      font-size: 3rem !important;
    }
    & &__content-form{
      padding: 20px 5px 0;
    }
  }
}
