<div class="home-page">
  <div class="container-fluid">
    <!-- Home backdrop -->

      <div class="home-page__backdrop">
          <span class="col col--1"></span>
          <span class="col col--2"></span>
          <span class="col col--3"></span>
          <span class="col col--4"></span>
          <span class="col col--5"></span>
      </div>


    <!-- Home content -->
    <div class="grid grid--collapse">
      <a
        href=""
        class="col--1-3 p--h-lg position--r home-page__hover link link--reset"
      >
        <div class="home-page__img home-page__img--1-1">
          <img class="home-page__img-img" src="assets/img/about.jpg" alt="" />
        </div>

        <div class="home-page__flex">
          <div>&nbsp;</div>
          <div>
            <h1 class="t--title">About <span class="t--red">us</span></h1>
            <h2>Welkom in M, het nieuwe mediahart van Nederland</h2>
          </div>
          <div><a href="" class="link link--line t--h5">Lees meer over</a></div>
        </div>
      </a>

      <div class="col--1-3"></div>

      <div class="col--1-3 home-page__flex">
        <div class="h-50">
          <div class="grid grid--collapse h-100">
            <div class="col--1-2">
              <a
                class="home-page__project home-page__hover"
                [routerLink]="['/products']"
              >
                <p
                  class="home-page__project-link link link--line t--h4 t--semi-bold"
                >
                  Products
                </p>

                <div class="home-page__img home-page__img--1-1">
                  <img
                    class="home-page__img-img"
                    src="assets/img/development.jpg"
                    alt=""
                  />
                </div>
              </a>
            </div>
            <div class="col--1-2">
              <a
                class="home-page__project home-page__hover"
                [routerLink]="['/services']"
              >
                <p
                  class="home-page__project-link link link--line t--h4 t--semi-bold"
                >
                  Services
                </p>

                <div class="home-page__img home-page__img--1-1">
                  <img
                    class="home-page__img-img"
                    src="assets/img/projects.png"
                    alt=""
                  />
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="h-50">
          <div class="grid grid--collapse">
            <div class="col--1-1 p--h-lg">
              <p class="t--h5">
                We create a complete experience for the technical part of your
                business.
              </p>
              <p class="t--h5 t--semi-bold">
                We provide our clients with a custom CRM and ERP systems that
                simplify all the working processes such as communications with
                clients and prospects, managing internal business processes and
                monitoring of all types of activities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
