.open .home-page {
  transform: translateY(150px);
}
.home-page {
  background-color: #000;
  min-height: 100vh;
  height: 100vh;
  color: #fff;
  transition: all .5s;
}
.home-page .home-page__flex {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}
.home-page .home-page__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  height: 100%;
}
.home-page .home-page__backdrop .col {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.16);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.home-page .home-page__backdrop .col:first-child:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: calc(16.66666667vw);
  background-color: rgba(255, 255, 255, 0.16);
  right: 1px;
}
.home-page .home-page__backdrop .col:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: calc(16.66666667vw);
  background-color: rgba(255, 255, 255, 0.16);
  left: 1px;
}
.home-page .home-page__backdrop .col.col--1 {
  left: 16.66666667%;
}
.home-page .home-page__backdrop .col.col--2 {
  left: 33.33333333%;
}
.home-page .home-page__backdrop .col.col--3 {
  left: 50%;
}
.home-page .home-page__backdrop .col.col--4 {
  left: 66.66666667%;
}
.home-page .home-page__backdrop .col.col--5 {
  left: 83.33333333%;
}
.home-page .home-page__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.home-page .home-page__img:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  transition: all .4s;
}
.home-page .home-page__img.home-page__img--1-1 .home-page__img-img {
  min-width: 117%;
  height: 117%;
}
.home-page .home-page__img-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  object-fit: cover;
  transition: all .4s;
}
.home-page .home-page__hover:hover .home-page__img:after {
  background-color: rgba(0, 0, 0, 0.7);
}
.home-page .home-page__hover:hover .home-page__img-img {
  transform: translateX(-10%);
}
.home-page .home-page__project {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.home-page .home-page__project-link {
  position: relative;
  display: inline-block;
  z-index: 1;
  color: #fff;
  margin: 0;
  text-decoration: none;
}
