<div class="home-page">
    <div class="container-fluid">
        
        <!-- Home backdrop -->
        <div class="home-page__backdrop">
            <span class="col col--1"></span> 
            <span class="col col--2"></span> 
            <span class="col col--3"></span> 
            <span class="col col--4"></span> 
            <span class="col col--5"></span>
        </div>
        
        <!-- Home content -->
        <div class="grid grid--collapse">
            
            <a href="" class="col--1-3 p--h-lg position--r home-page__hover link link--reset">

                <div class="home-page__img home-page__img--1-1">
                    <img class="home-page__img-img" src="/assets/img/about.jpg" alt="">
                </div>

                <div class="home-page__flex">
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        <h1 class="t--title">
                            About us
                        </h1>
                        <h2>
                            Welkom in M, het nieuwe mediahart van Nederland
                        </h2>
                    </div>
                    <div>
                        <a href="" class="link link--line">Lees meer over</a>
                    </div>
                </div>
            </a>

            <div class="col--1-3">
                <!-- <p class="t--title t--c">
                    LOGO
                </p> -->
            </div>

            <div class="col--1-3 home-page__flex">

                <div class="grid grid--collapse">
                    <div class="col--1-2">
                        <a href="" class="link link--line t--h4 t--semi-bold">Development</a>
                    </div>
                    <div class="col--1-2">
                        <a href="" class="link link--line t--h4 t--semi-bold">Projects</a>
                    </div>
                </div>

                <div class="grid grid--collapse">
                    <div class="col--1-1 p--h-lg">
                        <p class="t--sm">
                            01 SEPTEMBER | 10:00 | M-GEBOUW
                        </p>
                        <p class="t--h5 t--semi-bold">
                            KRO-NCRV en M heten u van harte welkom bij de Open Studio Dagen
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>