<div class="third-block grid">
  <div class="third-block__description wow bounceInLeft col--lg-2-6 col--md-4-10 col--sm-4-10 col--xs-8-10 push--lg-1-6 push--md-1-10 push--sm-1-10 push--xs-1-10">
    <h2 class="title">Easily change colors of each device</h2>
    <h3 class="subtitle"></h3>
    <p class="text">
      In each device shadows and reflections are in separate layers, this allows you to change the color of objects and accurately adjust lighting
    </p>
    <button class="btn btn--md btn--blue"> Button 1</button>
    <button class="btn btn--md btn--blue"> Button 2</button>
  </div>

  <div class="third-block__picture wow bounceInRight col--lg-3-6 col--md-5-10 col--sm-5-10 col--xs-8-10 push--lg-1-6  push--sm-1-10 push--xs-1-10 position--r">
   <img class="third-block__picture-main img position--a"
   src="/assets/img/product-list/details/screen.png"
      alt="screen"
    >
    <!-- <img class="third-block__picture-mouse img position--a"
    src="/assets/img/product-list/details/mouse.png"
      alt="mouse"
    > -->
    <!-- <img class="third-block__picture-keyboard img position--a"
      src="/assets/img/product-list/details/keyboard.png"
      alt="keyboard"
    > -->
  </div>
</div>
