<div class="third-block grid">
  <div class="third-block__description col--1-3">
    <h1 class="title">Easily change colors of each device</h1>
    <h2 class="subtitle"></h2>
    <p class="text">
      In each device shadows and reflections are in separate layers, this allows you to change the color of objects and accurately adjust lighting
    </p>
    <button class="btn btn--md btn--blue"> Button 1</button>
    <button class="btn btn--md btn--blue"> Button 2</button>
   </div>
  <div class="third-block__picture col--1-3 position--r">
   <img class="third-block__picture-main position--a"
   src="/assets/img/product-list/details/screen.png"
      alt="screen"
    >
    <img class="third-block__picture-mouse position--a"
    src="/assets/img/product-list/details/mouse.png"
      alt="mouse"
    >
    <img class="third-block__picture-keyboard position--a"
      src="/assets/img/product-list/details/keyboard.png"
      alt="keyboard"
    >
  </div>
</div>
