.cv-list {
  .block{
  padding-top: 100px;

  &--green{
  background: #0fb239;
  min-height: 30vh;
}
  &__filter{
    background: #fbfbfb;

    border: 1px solid #dfdfdf;
  }
  &__list-item{
    border: 1px solid #dfdfdf;
  }
}
// #dfdfdf

}

