<section class="container-fluid">
  <div class="block block--green"><h1>Title</h1></div>
  <div class="grid ">
    <div class="col--1-3 ">side</div>
    <div class="col--2-3">
      <ul>
        <li class="grid" *ngFor="let developer of developers">
          <div class="col--1-3">
            <h2 class="">
              {{ developer.firstName }} {{ developer.lastName }}
            </h2>
            <h3>{{ developer.specialization }}</h3>
          </div>
          <p class="col--2-3">{{ developer.Info }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
