.cv-list .block {
  padding-top: 100px;
}
.cv-list .block--green {
  background: #0fb239;
  min-height: 30vh;
}
.cv-list .block__filter {
  background: #fbfbfb;
  border: 1px solid #dfdfdf;
}
.cv-list .block__list-item {
  border: 1px solid #dfdfdf;
}
