@import "../../../../../web-src/less/variables.less";

.first-block{
  // height: 100vh;
  width: 70%;
  margin: 0 auto;

  & &__description{
    padding-top: 10rem;

  }
  & &__picture-img{

    height: 100%;
    top: 0;
    width: 1900px;
    left: -250px;
  }


  .title{
    font-size: 6rem;
    line-height: 6.5rem;

    font-weight: 500;

    margin-bottom: 2rem;
    color: #54a4ff;
  }

  .subtitle{
    font-size: 2rem;
    line-height: 2.5rem;

    font-weight: 500;

    margin-bottom: 2rem;
    color:#A7AEB3;
  }

  .text{
    font-size: 1.5rem;
    line-height: 2rem;

    font-weight: 400;

    margin-bottom: 1.5rem;
  }

}
