<div class="first-block grid">
 <div class="first-block__description col--1-3">
   <h1 class="title">Your Favorite Devices Mockup Pack</h1>
   <h2 class="subtitle">for Sketch and Photoshop</h2>
   <p class="text">Super clean, minimalistic, stylized mockup collection with awesome customization features and huge resolution</p>
 </div>
 <div class="first-block__picture col--1-3 position--r">
   <img class="first-block__picture-img position--r" src="/assets/img/product-list/details/laptop.png" alt="laptop">
 </div>
</div>
