.first-block {
  width: 70%;
  margin: 0 auto;
  padding: 10rem 0;
}
.first-block .first-block__description {
  z-index: 2;
}
.first-block .first-block__picture {
  height: 100vh;
}
.first-block .first-block__picture-main {
  top: -510px;
  left: -740px;
  -webkit-transform: scale3d(0.65, 0.65, 0.65);
  transform: scale3d(0.65, 0.65, 0.65);
}
.first-block .first-block__picture-backdrop {
  top: 15px;
  left: -650px;
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
  transform: scale3d(0.9, 0.9, 0.9);
}
.first-block .arrow {
  transition: all 1s;
  padding-top: 8rem;
}
.first-block .arrow:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
.first-block .title {
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #54a4ff;
}
.first-block .subtitle {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #A7AEB3;
}
.first-block .text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
