.first-block {
  height: 100%;
}
.first-block .first-block__description {
  height: 100vh;
  z-index: 2;
}
.first-block .first-block__picture-main {
  top: 0px;
  left: 0px;
}
.first-block .arrow {
  transition: all 1s;
  margin-top: 8rem;
}
.first-block .arrow:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2);
}
.first-block .img {
  width: 100%;
  max-width: 100%;
}
.first-block .list {
  color: #A7AEB3;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.first-block .list__item {
  color: #000;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: .8rem;
}
.first-block .title {
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #54a4ff;
}
.first-block .subtitle {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #A7AEB3;
}
.first-block .text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1024px) and (max-width: 1219px) {
  .first-block .first-block__description {
    height: 30vh;
  }
  .first-block .first-block__picture {
    height: 50vh;
  }
  .first-block .title {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .first-block .first-block__description {
    height: 30vh;
  }
  .first-block .first-block__picture {
    height: 50vh;
  }
  .first-block .title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .first-block .first-block__description {
    height: 100%;
  }
  .first-block .first-block__picture {
    height: 30vh;
  }
  .first-block .title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  .first-block .subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .first-block .arrow {
    width: 2rem;
    margin-top: 4rem;
  }
}
