@import "../../../../../web-src/less/variables.less";

.first-block{

  width: 70%;
  margin: 0 auto;
  padding: 15rem 0;


  & &__description{
    height: 100vh;
    z-index: 2;
  }
  & &__picture{


  &-main{
    top: -510px;
    left: -740px;
    -webkit-transform: scale3d(0.65, 0.65, 0.65);
    transform: scale3d(0.65, 0.65, 0.65);

  }
   &-backdrop{
    top: 15px;
    left: -650px;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
   }

  }

  .arrow{
    transition: all 1s;
    padding-top: 8rem;

    &:hover{
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
  .title{
    font-size: 6rem;
    line-height: 6.5rem;

    font-weight: 500;

    margin-bottom: 2rem;
    color: #54a4ff;
  }

  .subtitle{
    font-size: 2rem;
    line-height: 2.5rem;

    font-weight: 500;

    margin-bottom: 2rem;
    color:#A7AEB3;
  }

  .text{
    font-size: 1.5rem;
    line-height: 2rem;

    font-weight: 400;

    margin-bottom: 1.5rem;
  }

}
