<div class="projects container-fluid t--white">
  <!-- Projects backdrop -->
  <div class="projects__backdrop">
    <span class="col col--1"></span>
    <span class="col col--2"></span>
    <span class="col col--3"></span>
    <span class="col col--4"></span>
    <span class="col col--5"></span>
  </div>
  <!-- Projects content -->
  <div class="projects__title block ">
    <h1 class="projects__title-text position--r t--title m--t-xxlg t--c">
      <span class="projects__title-text projects__title-text--left position--a">Pro</span>
      <span class="projects__title-text projects__title-text--right position--a">jects</span>
    </h1>
  </div>
  <div class="projects__content container p--b-lg ">
    <div class="projects__content-text block ">
      <h2 class="t--h2 t--bold">Looking for a state-of-the-art studio?</h2>
      <h3 class="t--h4 ">We're more than happy to look into the possibilities with you</h3>
      <p class="m--v-lg" >
        In M, you will be using only the very best facilities.
        See the details for each studio below or download the pdf for a complete overview.
      </p>
    </div>
    <div class="projects__slider">
      <div class="grid ">
        <div class="projects__slider-title col col--1-4 t--h4">Studio A</div>
        <div class="projects__slider-title col col--1-4 t--h4">Studio B</div>
        <div class="col col--1-4 t--h4"></div>
        <div class="col col--1-4 t--h4"></div>
      </div>
      <div class="grid ">
        <div class="projects__slider-body col col--1-1 ">
          <app-slider></app-slider>
        </div>
      </div>
      <div class="grid ">
        <div class="projects__slider-description col col--1-1">
          <p class="t--semi-bold">Studio A</p>
          <p class="m--v-lg" >
            Studio A is where the bigger, serial productions take place.
            The studio is directly adjacent to the transit area,
            so it’s easy to drive decors and technical materials right into the studio.
            The lighting grid is fully equipped with hoists,
            so the lighting can quickly and easily be adjusted.
          </p>
          <ol class="projects__slider-list">
            <li class="projects__slider-list-item t--bold m">Direct access to transit area</li>
            <li class="projects__slider-list-item t--bold m">Lighting grid fully equipped with hoists, so adjustable without work platforms or ladders</li>
            <li class=" projects__slider-list-item t--bold m">Sufficient hoists equipped with DMX, XLR, Speakon (NL2) and HD-SDI connections</li>
          </ol>
          <button class="projects__slider-btn t--h5 t--bold  t--white m--v-lg p--sm">
            Download the overview
          </button>
        </div>
    </div>
    <app-form></app-form>
</div>
