@import "../../../../web-src/less/variables.less";

.details {
  background: #EEF1F1;
  padding: 10rem 0;
}
// ----------------------------------------
// Size : Large
// ----------------------------------------
@media only screen and (min-width: @breakpoint-lg-min) and (max-width: (@breakpoint-lg-max)) {

}

// ----------------------------------------
// Size : Medium
// ----------------------------------------
@media only screen and (min-width: @breakpoint-md-min) and (max-width: (@breakpoint-md-max)) {

}

// ----------------------------------------
// Size : Small
// ----------------------------------------
@media only screen and (min-width: @breakpoint-sm-min) and (max-width: (@breakpoint-sm-max)) {

}

// ----------------------------------------
// Size : xSmall
// ----------------------------------------
@media only screen and (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max) {
  .details {
  padding: 5rem 0;
  }
}
