<!-- <div class="about">

</div> -->
<section class="block block--header">
  <h1 class="block__title t--c"> ABOUT US </h1>
  <h2 class="block__subtitle t--c t--gray"> There will be a slogan  </h2>

</section>
<section class="block block--body">
  <div class="grid grid--collapse">
    <div class="col--md-2-4 col--sm-1-1 col--xs-1-1 col--gray">
      <p class="block__text">
        With a solid software development experience, we’ve started as a group of like-minded people to help companies
        on the way of their digital transformation. Shaping our team, we always strive to choose the best of the best
        to serve you on your project. Nowadays we’re a company of talented people who can bring to life Web and Mobile
        solutions of any complexity.
      </p>
      <p class="block__text">
        Our mission is to help our clients to achieve their business goals. For deeper understanding of our customers’
        needs, we carefully examine their business and immerse deeply in the essence of the task.
      </p>
      <p class="block__text">
        We meet deadlines and guarantee the quality, since time is the only finite and most precious resource.
      </p>
      <p class="block__text">
        We build efficient means of communication and provide full support at all the stages of cooperation.
      </p>
    </div>
    <div class="col--lg-1-4 col--md-1-2 col--sm-1-1 col--xs-1-1 col--white flex flex--column flex--center p--md">
      <h3 class="block__subtitle">Let’s talk business! </h3>
      <p class="block__text">
        Reach your goals and grow your business with us.
      </p>
      <a [routerLink]="['/contact']" routerLinkActive="active" class="btn btn--green">Contact Us</a>
    </div>
  </div>
</section>
