<div class="container-fluid products">
  <!-- Products backdrop -->
  <div class="products__backdrop">
    <span class="col col--1"></span>
    <span class="col col--2"></span>
    <span class="col col--3"></span>
    <span class="col col--4"></span>
    <span class="col col--5"></span>
  </div>

  <!-- Products content -->
  <section class="block products__title">
    <h1 class="products__title-text t--title">
      <span class="products__title-text products__title-text--left d--b">Pro</span>
      <span class="products__title-text products__title-text--right d--b">ducts</span>
    </h1>
  </section>
  <main class="container products__content">

    <section class="grid">
      <h2 class="t--h2 t--bold">Coming to watch a broadcast or got a meeting in the building?</h2>
      <h3 class="t--h4">Below you’ll find all you need to organise your visit</h3>
      <p class="" >
        The programmes Zapplive, Opsporing Verzocht and Radar are all made in M.
          You can also watch broadcasts live from our public gallery.
      </p>
      <div class="grid">
        <div class="col col--1-4 t--h4"><img src="assets/img/page-prod/logo.png" alt="logo"></div>
        <div class="col col--1-4 t--h4"><img src="assets/img/page-prod/logo.png" alt="logo"></div>
        <div class="col col--1-4 t--h4"><img src="assets/img/page-prod/logo.png" alt="logo"></div>
        <div class="col col--1-4 t--h4"><img src="assets/img/page-prod/logo.png" alt="logo"></div>
      </div>
    </section>

    <section class="grid">
      <h2 class="t--h2 t--bold">Coming to watch a broadcast or got a meeting in the building?</h2>
      <h3 class="t--h4 ">Below you’ll find all you need to organise your visit</h3>
      <p class="" >
        The programmes Zapplive, Opsporing Verzocht and Radar are all made in M.
          You can also watch broadcasts live from our public gallery.
      </p>
      <div class="grid">
        <div class="col col--1-4 t--h4"><img src="/src/assets/img/page-prod/logo.svg.png" alt="logo"></div>
        <div class="col col--1-4 t--h4"><img src="/src/assets/img/page-prod/logo.svg.png" alt="logo"></div>
        <div class="col col--1-4 t--h4"><img src="/src/assets/img/page-prod/logo.svg.png" alt="logo"></div>
        <div class="col col--1-4 t--h4"><img src="/src/assets/img/page-prod/logo.svg.png" alt="logo"></div>
      </div>
    </section>
  </main>
</div>
