// out: ../../css/components/main.css, compress: true
@import '../variables.less';

// ------------------------------------------------
// Block 'body' and other elements
// ------------------------------------------------
body{
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    font-size: 15px;
    font-weight: 300;
    // font-family: 'Mukta', sans-serif;
    font-family: 'Gilroy', sans-serif;
}

html{
    font-size: 14px;
}

svg{
    width: 100%;
    max-width: 100%;
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

// ------------------------------------------------
// Block '.main'
// ------------------------------------------------
.main{

}
// ---------------------------------------------------------------------------
// size: xSmall
// ----------------------------------------------------------------------------
@media only screen and (max-width: @breakpoint-xs-max) and (min-width: @breakpoint-xs-min) {

}
