<div class="block block--green">
  <div
    class="block__overlay block__overlay--img"
    style="background-image: url('https://sevenstars.nl/assets/img/wemakeitspark/image06.jpg')"
  ></div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--1-1">
          <h1 class="block__title">

          </h1>
          <h2 class="block__subtitle">
            Are you tired of switching between your email client, excel file,
            calendar and phone in the course of one interaction? This is where
            CRM comes into play.
          </h2>
        </div>
        <div class="col--2-5 push--1-5">
          <p>
            To date, customer relations management (CRM) continues to be one of
            the most powerful tools for business automation. A well-tailored
            customized CRM system centralizes your communication in one place
            and gives you an advantage to manage all pipeline in a more
            efficient way.
          </p>
          <p class="block__text">How can CRM benefit your business?</p>
          <ul>
            <li>
              Streamline your sales process by eliminating leaks in your sales
              funnel;
            </li>
            <li>Make your customer interactions more personalized;</li>
            <li>Save time by automating repetitive tasks;</li>
            <li>
              Provide unity between Sales & Marketing by giving access to
              real-time data;
            </li>
            <li>Generate reports and analytics;</li>
            <li>Sell on the go with a mobile version.</li>
            <p>
              Foster long-lasting relationships with your customers, enhance
              their loyalty and boost your sales up by planning your customers’
              journey. Build your custom Solid CRM foundation with SolidExpert.
            </p>
            <p>
              Request a consult (>>> ссылка на CONTACT US) now to discuss your
              custom CRM system with our experts, or check out the existing
              products below to adopt one for your business.
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block--green">
  <div
    class="block__overlay block__overlay--img"
    style="background-image: url('https://sevenstars.nl/assets/img/wemakeitspark/image02.jpg')"
  ></div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--1-1">
          <h1 class="block__title">SolidExCRM.com</h1>
          <h2 class="block__subtitle">CRM for your business</h2>
        </div>
        <div class="col--2-5 push--1-5">
          <p class="block__text">
            Online Booking - Let your customers check in all by themselves. This
            function enables a 24/7 booking and excludes any overlapping errors.
            Extremely useful for large studios seeking to off-load the
            receptionists. The calendar implemented in our system has much in
            common with the Google calendar. It makes an opportunity to trace
            the current schedule of available and appropriate halls in one
            window. In addition, any action is fixed in the history, so it makes
            it impossible to remove the reservation without a trace.
          </p>
          <ul>
            <li>A purpose designed application for the site;</li>
            <li>
              A special code is required for the installation on the site;
            </li>
            <li>A new contact confirmation by SMS.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block--green">
  <div
    class="block__overlay block__overlay--img"
    style="background-image: url('https://sevenstars.nl/assets/img/wemakeitspark/image07.jpg')"
  ></div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--1-1">
          <h1 class="block__title">Ineedatractor.com</h1>
          <h2 class="block__subtitle">
            A modern online service and a mobile application to rent
            construction equipment and specialized vehicles.
          </h2>
        </div>
        <div class="col--2-5 push--1-5">
          <ul class="block__text">
            <span class="t--bold">
              Have an idea to run your business in a smarter and more efficient
              way without a need to buy and deploy the software itself? Take an
              advantage of using already installed and configured SaaS
              solutions, and thus reduce your time to benefit. How can a SaaS
              benefit your business?
            </span>
            <li>It costs less comparing to its legacy system;</li>
            <li>It cuts overhead costs;</li>
            <li>It enables collaboration in large and decentralized teams;</li>
            <li>It saves the time needed for setup and training;</li>
            <li>It facilitates access to data;</li>
            <li>
              It eliminates the burden of a proprietary software upgrading and
              maintenance.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
