<div class="block block--green">
	<div class="block__overlay block__overlay--img" style="background-image: url('https://sevenstars.nl/assets/img/wemakeitspark/image07.jpg')"></div>

	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--1-1">
					<h1 class="block__title">Встройке.бел</h1>
					<h2 class="block__subtitle">Крупнейший портал по аренде строительной техники и онлайн заказу</h2>
				</div>
				<div class="col--2-5 push--1-5">
					<p class="block__text">
						Energie heb je nodig om te sprankelen. Om te ondernemen, te groeien en die ene stap meer te zetten. Energie zit in ons. In alles wat we zijn en doen.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>