.services .list__item {
  list-style-type: square;
  list-style-position: inside;
}
.services .list__text {
  color: #000;
}
.services .services__header {
  min-height: 50vh;
  padding-top: 150px;
}
.services .services__header-subtitle {
  padding-right: 5%;
}
.services .services__custom-img {
  background: url(/assets/img/page-service/custom.jpg) no-repeat;
  background-size: cover;
}
.services .services__mobile-img {
  background: url(/assets/img/page-service/mobile2.jpg) no-repeat;
  background-size: cover;
}
.services .services__design-img {
  background: url(/assets/img/page-service/design3.jpg) no-repeat;
  background-size: cover;
}
