<div class="services container-fluid">
  <header class="services__header block">
    <h1 class="services__header-title t--c t--title t-xs--title t--black">
      SERVICES
    </h1>
    <h2 class="services__header-subtitle t--r t--italic t--green m--t-xlg m-xs--t-lg">
      Lightweight solutions specifically tailored for your needs & to your
      requirements . . .
    </h2>
    <h2 class="services__header-subtitle t--c t--italic t--green m--t-xlg m-xs--t-lg">
        We make apps that easily integrate with what people need and expect
        from a trusted digital product . . .
    </h2>
    <h2 class="services__header-subtitle t--r t--italic t--green m--t-xlg m-xs--t-lg">
        Our team is experiences to support you with both native or
          cross-platform mobile development.
    </h2>
  </header>

  <main class="container">
    <article class="services__custom grid ">
      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <h2 class="services__custom-title t--h3 t-xs--h3">
          Custom Web Development
        </h2>
        <p class="services__custom-text t--h4 t-xs--h4">
          We listen to you carefully because it’s important to deliver exactly
          what you requested. We lavish attention on you to deliver even more
          than you expected. We share our experience in building solid and
          reasonable architecture & solutions.
        </p>
        <p class="services__custom-text t--h4 t-xs--h4">
          Today the web world offers a variety of solutions both for your
          business and your customers. We consider the latest trends and choose
          the most efficient ones to bring you from MVP to scalable products.
        </p>

        <ul class="services__custom-list ">
          With the technical expertise in Node.js, AngularJS and React our web
          development team is able to cope with any engineering challenge to
          create:
          <li class="services__custom-list-item">SaaS and Cloud Computing;</li>
          <li class="services__custom-list-item">CRM & ERP Systems;</li>
          <li class="services__custom-list-item">High-load Applications;</li>
          <li class="services__custom-list-item">
            Enterprise & Intranet Platforms;
          </li>
          <li class="services__custom-list-item">E-commerce Solutions;</li>
          <li class="services__custom-list-item">Geo-based Applications.</li>
        </ul>
      </section>

      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1 position--r">

          <div class="services__custom-img  h-100">
             <!-- <img class="" src="/assets/img/page-service/custom.jpg" alt=""> -->
           </div>
           <!-- <div class="services__custom-img position--a">
               <img src="/assets/img/page-service/custom2.jpg" alt="">
          </div> -->
          <!-- <div class="services__custom-img position--a">
             <img src="/assets/img/page-service/custom3.jpg" alt="">
           </div> -->

      </section>

    </article>

    <article class="services__mobile grid">

      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <div class="services__mobile-img  h-100"></div>
        <!--
          <div class="services__mobile-img  h-50"></div>
          <div class="services__mobile-img  h-50"></div>
        -->
      </section>

      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <h2 class="services__mobile-title t--h3 t-xs--h3">
          Mobile App Development
        </h2>
        <p class="services__mobile-text t--h4 t-xs--h4">
          With millions of operations that smart phone users process daily, the
          mobile industry has become an effective channel to extend your
          business. The proper usage of these technologies may contribute a lot
          to businesses by lowering expenses and enhancing productivity within
          the major business functions.
        </p>
        <ul class="services__mobile-list t--bold">
          By handling the following technologies:
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">Swift</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">Objective-C</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">Java</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">Kotlin</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">React Native</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">Cordova</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">Ionic</span>
          </li>
          <li class="services__mobile-list-item t--green">
            <span class="services__mobile-list-text">PhoneGap</span>
          </li>
        </ul>
        <!-- <p class="services__mobile-text t--h4 t-xs--h4">
          Our team is experiences to support you with both native or
          cross-platform mobile development.
        </p>
        <p class="services__mobile-text t--h4 t-xs--h4">
          We make apps that easily integrate with what people need and expect
          from a trusted digital product.
        </p> -->
      </section>
      <section class="col--1-1 m--v-lg m-xs--v-lg">
        <p class="services__mobile-text t--c t--italic t--green t--h4 t-xs--h4">
          CONTUCT US now and get a fully functioning app your customers will
          love.
        </p>
        <app-button-form></app-button-form>
      </section>
    </article>

    <article class="services__design grid">
      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <h2 class="services__design-title t--h3 t-xs--h3">UX/UI DESIGN</h2>
        <p class="services__design-text t--h4 t-xs--h4">
          Something that looks great but is difficult to use is an example of
          great UI and poor UX. While something very usable that looks terrible
          is an example of great UX and poor UI.
        </p>
        <p class="services__design-text t--h4 t-xs--h4">
          By accommodating the best UI/UX practices and utilizing the amenities
          of our onsite photo studio, our team is able to create designs of any
          complexity to develop your branding and advertising campaigns.
        </p>
        <ul class="services__design-list">
          Our services include:
          <li class="services__design-list-item">
            Product Structure and Strategy
          </li>
          <li class="services__design-list-item">Prototyping</li>
          <li class="services__design-list-item">Design Research</li>
          <li class="services__design-list-item">UI Prototyping</li>
          <li class="services__design-list-item">
            Branding and Graphic Development
          </li>
          <li class="services__design-list-item">
            Interactivity and Animation
          </li>
          <li class="services__design-list-item">
            Adaptation to All the Devices Screen-size
          </li>
        </ul>
      </section>

      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1 ">
        <div class="services__design-img h-100"></div>
      </section>

      <section class="col--1-1 m--v-lg m-xs--v-lg">
        <p class="services__mobile-text t--c t--italic t--green t--h4 t-xs--h4">
          Want to enhance your business with a hi-tech solution? FILL OUT a form
          and we’ll get back to you shortly to discuss your next digital
          successful story!
        </p>
      </section>
    </article>
  </main>
  <!-- <app-button-form></app-button-form> -->
</div>
