.services{

  & &__header{
    // background: url(/assets/img/page-service/title.jpg);
    min-height: 50vh;
    padding-top: 150px;
    &-subtitle{
      padding-right: 5%;
    }
  }
  & &__custom-img{

    background: url(/assets/img/page-service/custom.jpg) no-repeat;
    background-size: cover;

  }
  & &__mobile{
    &-img{
    background: url(/assets/img/page-service/mobile2.jpg) no-repeat;
    background-size: cover;
    }
    &-list{
      list-style-type: square;
    }

    &-list-text{
      color: #000;
    }
  }
  & &__design-img{
    background: url(/assets/img/page-service/design3.jpg) no-repeat;
    background-size: cover;

  }

}
