.services{

  & &__header{
    // background: url(/assets/img/page-service/title.jpg);
    min-height: 50vh;
    padding-top: 100px;
  }
  & &__custom-img{
    background: url(/assets/img/page-service/custom.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
  }
}
