.services .services__header {
  min-height: 50vh;
  padding-top: 100px;
}
.services .services__custom-img {
  background: url(/assets/img/page-service/custom.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
}
