<div class="services container-fluid">
  <header class="services__header block">
    <h1 class="services__header-title t-xs--title">
      SERVICES
    </h1>
    <h2 class="services__header-subtitle t--r t--italic t--green t-xs--h4 m--v-lg m-xs--v-md">
      Lightweight solutions specifically tailored for your needs & to your
      requirements.
    </h2>
    <h2 class="services__header-subtitle t--r t--italic t--green t-xs--h4 m--v-lg m-xs--v-md">
      We make apps that easily integrate with what people need and expect from a
      trusted digital product.
    </h2>
    <h2 class="services__header-subtitle t--r t--italic t--green t-xs--h4 m--v-lg m-xs--v-md">
      Our team is experiences to support you with both native or cross-platform
      mobile development.
    </h2>
  </header>

  <main class="container">
    <article class="services__custom grid ">
      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <h2 class="services__title t--h3 t-xs--h4">Custom Web Development</h2>
        <p class="services__text t--h4 t-xs--h5">
          We listen to you carefully because it’s important to deliver exactly
          what you requested. We lavish attention on you to deliver even more
          than you expected. We share our experience in building solid and
          reasonable architecture & solutions.
        </p>
        <p class="services__text t--h4 t-xs--h5">
          Today the web world offers a variety of solutions both for your
          business and your customers. We consider the latest trends and choose
          the most efficient ones to bring you from MVP to scalable products.
        </p>

        <ul class="services__list">
          <span class="t--bold">With the technical expertise in full-stack .Net, Node.js, AngularJS and React our
            web development team is able to cope with any engineering challenge
            to create:
          </span>

          <li class="services__list-item t--green">
            <span class="services__list-text">SaaS and Cloud Computing;</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">CRM & ERP Systems;</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">High-load Applications;</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Enterprise & Intranet Platforms;</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">E-commerce Solutions;</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Geo-based Applications.</span>
          </li>
        </ul>
      </section>

      <section class="services__img  col--md-1-2 col--sm-1-1 col--xs-1-1">
        <div class="services__img--custom  h-100"></div>
      </section>
    </article>

    <article class="services__mobile grid">
      <section class="services__img col--md-1-2 col--sm-1-1 col--xs-1-1">
        <div class="services__img--mobile h-100"></div>
      </section>

      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <h2 class="services__title t--h3 t-xs--h4">Mobile App Development</h2>
        <p class="services__text t--h4 t-xs--h5">
          With millions of operations that smart phone users process daily, the
          mobile industry has become an effective channel to extend your
          business. The proper usage of these technologies may contribute a lot
          to businesses by lowering expenses and enhancing productivity within
          the major business functions.
        </p>
        <ul class="services__list ">
          <span class="t--bold">By handling the following technologies:</span>
          <li class="services__list-item t--green">
            <span class="services__list-text">Swift</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Objective-C</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Java</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Kotlin</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">React Native</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Cordova</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Ionic</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">PhoneGap</span>
          </li>
        </ul>
        <!--
          <p class="services__mobile-text t--h4 t-xs--h4">
            Our team is experiences to support you with both native or
            cross-platform mobile development.
          </p>
          <p class="services__mobile-text t--h4 t-xs--h4">
            We make apps that easily integrate with what people need and expect
            from a trusted digital product.
          </p>
        -->
      </section>

      <section class="col--1-1 m--t-lg m-xs--t-md">
        <p class="services__text t--c t--italic t--green t--h4 t-xs--h5">
          CONTUCT US now and get a fully functioning app your customers will
          love.
        </p>
        <app-button-form></app-button-form>
      </section>
    </article>

    <article class="services__design grid">
      <section class="col--md-1-2 col--sm-1-1 col--xs-1-1">
        <h2 class="services__title t--h3 t-xs--h4">UX/UI DESIGN</h2>
        <p class="services__text t--h4 t-xs--h5">
          Something that looks great but is difficult to use is an example of
          great UI and poor UX. While something very usable that looks terrible
          is an example of great UX and poor UI.
        </p>
        <p class="services__text t--h4 t-xs--h5">
          By accommodating the best UI/UX practices and utilizing the amenities
          of our onsite photo studio, our team is able to create designs of any
          complexity to develop your branding and advertising campaigns.
        </p>
        <ul class="services__list">
          <span class="t--bold">Our services include:</span>
          <li class="services__list-item t--green">
            <span class="services__list-text"> Product Structure and Strategy</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Prototyping</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Design Research</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">UI Prototyping</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Branding and Graphic Development</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Interactivity and Animation</span>
          </li>
          <li class="services__list-item t--green">
            <span class="services__list-text">Adaptation to All the Devices Screen-size</span>
          </li>
        </ul>
      </section>

      <section class="services__img col--md-1-2 col--sm-1-1 col--xs-1-1">
        <div class="services__img--design h-100"></div>
      </section>

      <section class="col--1-1 m--t-lg m-xs--t-lg">
        <p class="services__text t--r t--italic t--green t--h4 t-xs--h5">
          Want to enhance your business with a hi-tech solution?
        </p>
        <p class="services__text t--r t--italic t--green t--h4 t-xs--h5">
          FILL OUT a form and we’ll get back to you shortly to discuss your next
          digital successful story!
        </p>
      </section>
    </article>
  </main>
  <!-- <app-button-form></app-button-form> -->
</div>
