.block {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 100px 0;
  overflow: hidden;
}
.block.block--about {
  align-items: center;
  justify-content: flex-end;
  background-color: #252525;
  color: #fff;
}
.block.block--gray {
  align-items: center;
  justify-content: center;
  background-color: #252525;
  color: #fff;
}
.block.block--gray .block__title {
  color: #fff;
}
.block.block--gray .block__overlay {
  color: #303030;
}
.block.block--violet {
  align-items: center;
  justify-content: center;
  background-color: #885DF1;
  color: #fff;
}
.block.block--violet .block__title {
  color: #fff;
}
.block.block--violet .block__overlay {
  color: #744ADD;
}
.block.block--green {
  align-items: center;
  justify-content: center;
  background-color: #0fb239;
  color: #333;
}
.block.block--green .block__title {
  color: #fff;
}
.block.block--green .block__overlay {
  color: #0ca734;
}
.block .block__title {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.block .block__subtitle {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.block .block__text {
  position: relative;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.block .block__body {
  position: relative;
  z-index: 10;
}
.block .block__overlay {
  position: absolute;
  font-size: 60rem;
  font-weight: 900;
  z-index: 1;
}
.block .block__overlay.block__overlay--video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.block .block__overlay.block__overlay--video:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
@media only screen and (min-width: 1600px) {
  .block .block__text {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1220px) and (max-width: 1599px) {
  .block {
    padding: 60px 0;
  }
  .block .block__overlay {
    font-size: 56rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1219px) {
  .block {
    min-height: 50vh;
  }
  .block .block__body {
    padding-top: 50px ;
  }
  .block .block__overlay {
    font-size: 45rem;
  }
  .block .container {
    padding: 0 100px;
  }
  .block [class=col--3-5] {
    min-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .block {
    min-height: 50vh;
    padding: 60px 0;
  }
  .block.block--about {
    padding-top: 100px;
  }
  .block .block__overlay {
    font-size: 30rem;
  }
  .block .container {
    padding: 0 100px;
  }
  .block .block__title {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .block .block__subtitle {
    font-size: 2rem;
    line-height: 3rem;
  }
  .block .block__text {
    font-weight: 600;
  }
  .block [class=col--3-5] {
    min-width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px - 1) {
  .block {
    min-height: 50vh;
    padding: 60px 0;
  }
  .block.block--about {
    padding-top: 100px;
  }
  .block .block__overlay {
    font-size: 16rem;
  }
  .block .container {
    padding: 0 50px;
  }
  .block .block__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .block .block__subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .block .block__text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .block [class=col--3-5] {
    min-width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .block {
    min-height: 50vh;
    padding: 60px 0;
  }
  .block.block--about {
    padding-top: 100px;
  }
  .block .block__overlay {
    font-size: 10rem;
  }
  .block .container {
    padding: 0 20px;
  }
  .block .block__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .block .block__subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .block .block__text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .block [class=col--3-5] {
    min-width: 100%;
  }
}
