<section class="block block--about">
	
	<app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

	<div class="block__overlay block__overlay--video">
		<video autoplay loop poster="/assets/video/about/poster.jpg" muted plays-inline>
			<source src="/assets/video/about/movie.mp4" type="video/mp4">
			<source src="/assets/video/about/movie.webm" type="video/webm">
			Your browser does not support the video tag.
		</video>
	</div>

	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--4-5">
					<h1 class="block__title">
            YOUR SOLID SOLUTIONS
          </h1>
					<h2 class="block__subtitle t--green">
            Web & Mobile Customized Software
            with the Core Expertise in CRM Development & Implementation.
					</h2>

					<div>
						<button class="btn btn--border btn--md btn--white">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--green">

	<app-grid-line></app-grid-line>

	<div class="block__overlay">
		8+
	</div>

	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--3-5">
					<h2 class="block__title t--h1">
						More than 8 years of experience in the software development services.
					</h2>
					<h3 class="block__subtitle">
            We’ll deliver delightful digital experiences
            for your business and lift all the technical issues off your shoulders.
					</h3>

					<!-- <p > -->
						<ul class="block__text">
              <li> Mobile App Вevelopment</li>
              <li> Web Development</li>
              <li> UX/UI</li>
              <li> Your Reliable Dedicated Team</li>
            </ul>
					<!-- </p> -->

					<div>
						<button class="btn btn--border btn--md btn--white">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--gray">
	<app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

	<div class="block__overlay">
		189K
	</div>

	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--3-5">
					<h2 class="block__title t--h1">
            More than 189K of unique users of our system per 3 years
          </h2>

					<p class="block__text">
						Around 1200 of new visitors per day.
					</p>

					<div>
						<button class="btn btn--border btn--md btn--white">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--violet">
	<app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

	<div class="block__overlay">
		94%
	</div>

	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--3-5">
					<h2 class="block__title t--h1">
            According to the recent survey, more than 94% of
            our clients continue working with us and are sure to recommend our services to their contacts.
          </h2>
					<h3 class="block__subtitle">
						(Nou ja, bijna altijd)
					</h3>

					<p class="block__text">
						We invite you to explore their comments on your own.
					</p>

					<div>
						<button class="btn btn--border btn--md btn--white">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
