.block {
  position: relative;
  min-height: 100vh;
  padding: 100px 0;
  overflow: hidden;
}
.block.block--about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #252525;
  color: #fff;
}
.block.block--gray {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  color: #fff;
}
.block.block--gray .block__title {
  color: #fff;
}
.block.block--gray .block__overlay {
  color: #303030;
}
.block.block--violet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #885DF1;
  color: #fff;
}
.block.block--violet .block__title {
  color: #fff;
}
.block.block--violet .block__overlay {
  color: #744ADD;
}
.block.block--green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0fb239;
  color: #333;
}
.block.block--green .block__title {
  color: #fff;
}
.block.block--green .block__overlay {
  color: #0ca734;
}
.block.block--blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4d7cfe;
  color: #fff;
}
.block.block--blue .block__title {
  color: #fff;
}
.block.block--blue .block__overlay {
  color: #1976d2;
}
.block .block__title {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.block .block__subtitle {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.block .block__text {
  position: relative;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.block .block__body {
  position: relative;
  z-index: 10;
}
.block .block__overlay {
  position: absolute;
  font-size: 60rem;
  font-weight: 900;
  z-index: 1;
}
.block .block__overlay.block__overlay--video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.block .block__overlay.block__overlay--video:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
