<section class="block block--about">
	
	<app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

	<div class="block__overlay block__overlay--video">
		<video autoplay loop poster="/assets/video/about/poster.jpg" muted plays-inline>
			<source src="/assets/video/about/movie.mp4" type="video/mp4">
			<source src="/assets/video/about/movie.webm" type="video/webm">
			Your browser does not support the video tag.
		</video>
	</div>

	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--4-5">
					<h1 class="block__title">
						Мы супер-крутые перцы. Так сказали написать нам Сэйл и БА.
					</h1>
					<h2 class="block__subtitle t--green">
						Мы делаем Веб удобнее.
					</h2>
				
					<div>
						<button class="btn btn--border btn--md btn--white">Шлёп-шлёп</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--green">

	<app-grid-line></app-grid-line>

	<div class="block__overlay">
		99%
	</div>
	
	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--3-5">
					<h2 class="block__title t--h1">
						Нас взяли в плен, спасите нас пожалуйста! У нас отобрали паспорта и заставляют работать.
					</h2>
					<h3 class="block__subtitle">
						(Вызовите ментов по адресу в футере)
					</h3>
	
					<p class="block__text">
						(Nou ja, bijna altijd)
						Het liefst zouden we 100% zeggen. Maar het duurde eens 58 uur voordat de match rond was. Dat houdt ons scherp, moet je maar denken.
						De beste IT professionals gegarandeerd binnen 48 uur beschikbaar. Altijd.
					</p>
				
					<div>
						<button class="btn btn--border btn--md btn--white">Позвонить в 102</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--gray">
	<app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

	<div class="block__overlay">
		350
	</div>
	
	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--3-5">
					<h2 class="block__title t--h1">
						Яволь, майн фюрер! Ми саздавайтенг вэб сайтэнг и мобаленг прилажэйтенг. Вэсь Мыр будет наш и только наш зибен ахт.
					</h2>
	
					<p class="block__text">
						(Nou ja, bijna altijd)
						Het liefst zouden we 100% zeggen. Maar het duurde eens 58 uur voordat de match rond was. Dat houdt ons scherp, moet je maar denken.
						De beste IT professionals gegarandeerd binnen 48 uur beschikbaar. Altijd.
					</p>
				
					<div>
						<button class="btn btn--border btn--md btn--white">Some text</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--violet">
	<app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

	<div class="block__overlay">
		12+
	</div>
	
	<div class="block__body">
		<div class="container">
			<div class="grid">
				<div class="col--3-5">
					<h2 class="block__title t--h1">
						Мы разработали более 12 продуктов, которые активно работают во всех странах СНГ
					</h2>
					<h3 class="block__subtitle">
						(Nou ja, bijna altijd)
					</h3>
	
					<p class="block__text">
						(Nou ja, bijna altijd)
						Het liefst zouden we 100% zeggen. Maar het duurde eens 58 uur voordat de match rond was. Dat houdt ons scherp, moet je maar denken.
						De beste IT professionals gegarandeerd binnen 48 uur beschikbaar. Altijd.
					</p>
				
					<div>
						<button class="btn btn--border btn--md btn--white">Some text</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>