.main {
  background:#4b4a4a;
  & &__menu{
    // background: #5f5f5f;
  }
  & &__services{
    background: #0fb239;
  }
  & &__products{
    // background: #000;
  }
  & &__case{
    background: #0fb239;
  }
  & &__testimonials{
    // background: #000;
  }
  & &__contact{
    background: #0fb239;
  }

}
