<section class="block block--about">
  <app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

  <div class="block__overlay block__overlay--video">
    <video class="block__overlay--video-item" autoplay loop poster="/assets/video/about/poster.jpg" muted plays-inline>
      <source src="/assets/video/about/movie.mp4" type="video/mp4" />
      <source src="/assets/video/about/movie.webm" type="video/webm" />
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="block__body">
    <div class="container">
      <div class="grid ">
        <div class="col--xlg-3-5 col--lg-3-5 col--md-1-1 col--sm-1-1 col--xs-1-1 push--xlg-1-5 push--lg-1-5 t--c">
          <h1 class="block__title">
            YOUR SOLID SOLUTIONS
          </h1>
          <h2 class="block__subtitle">
            Web & Mobile Customized Software
            with the Core Expertise in CRM Development & Implementation.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block--green">
  <app-grid-line></app-grid-line>

  <div class="block__overlay">8+</div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--xlg-3-5 col--lg-3-5 col--md-1-1 col--sm-1-1 col--xs-1-1">
          <h2 class="block__title">
            More than 8 years of experience in the software development
            services.
          </h2>
          <h3 class="block__subtitle">
            We’ll deliver delightful digital experiences for your business and
            lift all the technical issues off your shoulders.
          </h3>
          <ul class="block__list m--reset">
            <li class="block__list-item">Mobile App Development</li>
            <li class="block__list-item">Web Development</li>
            <li class="block__list-item">UX/UI</li>
            <li class="block__list-item">Your Reliable Dedicated Team</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block__stack ">
  <div class="block__stack-body grid grid--collapse h-100vh ">
    <div class="block__stack-item col--1-3 p--md">
      <h2 class="block__title">
        Custom Web 
      </h2>
      <p class="block__text">
        We listen to you carefully because it’s important to deliver exactly what you requested.
        We lavish attention on you to deliver even more than you expected.
        We share our experience in building solid and reasonable architecture & solutions.

        Today the web world offers a variety of solutions both for your business and your customers. We consider the
        latest trends and choose the most efficient ones to bring you from MVP to scalable products.
      </p>
    </div>
    <div class="block__stack-item col--1-3 p--md">
      <h2 class="block__title">
        Mobile App 
      </h2>
      <p class="block__text">
        With millions of operations that smart phone users process daily, the mobile industry has become an effective
        channel to extend your business. The proper usage of these technologies may contribute a lot to businesses by
        lowering expenses and enhancing productivity within the major business functions.
      </p>
    </div>
    <div class="block__stack-item col--1-3 p--md">
      <h2 class="block__title">
        UX/UI DESIGN
      </h2>
      <p class="block__text">
        Something that looks great but is difficult to use is an example of great UI and poor UX. While something very
        usable that looks terrible is an example of great UX and poor UI.
        By accommodating the best UI/UX practices and utilizing the amenities of our onsite photo studio, our team is
        able to create designs of any complexity to develop your branding and advertising campaigns.
      </p>
    </div>  
    <div class="block__stack-item col--1-3 p--md">
      <ul class="block__list m--reset">
        With the technical expertise in Node.js, AngularJS and React our web development team is able to cope with any
        engineering challenge to create:
        <li class="block__list-item">SaaS and Cloud Computing;</li>
        <li class="block__list-item">CRM & ERP Systems;</li>
        <li class="block__list-item">High-load Applications;</li>
        <li class="block__list-item">Enterprise & Intranet Platforms;</li>
        <li class="block__list-item">E-commerce Solutions;</li>
        <li class="block__list-item">Geo-based Applications.</li>
      </ul>
    </div>
    <div class="block__stack-item col--1-3 p--md">
      <ul class="block__list m--reset">
        By handling the following technologies:
        <li class="block__list-item">Swift;</li>
        <li class="block__list-item">Objective-C;</li>
        <li class="block__list-item">Java;</li>
        <li class="block__list-item">Kotlin;</li>
        <li class="block__list-item">React Native;</li>
        <li class="block__list-item">Cordova;</li>
        <li class="block__list-item">Ionic;</li>
        <li class="block__list-item">PhoneGap.</li>
      </ul>
      <!-- <p class="block__text">
        Our team is experiences to support you with both native or cross-platform mobile
        development.
      </p>
      <p class="block__text">
        We make apps that easily integrate with what people need and expect from a trusted digital
        product.
      </p>
      <p class="block__text">
        CONTUCT US now and get a fully functioning app your customers will love.
      </p> -->
    </div>
    <div class="block__stack-item col--1-3 p--md">
      <ul class="block__list m--reset">
        Our services include:
        <li class="block__list-item">Product Structure and Strategy
          ;</li>
        <li class="block__list-item">Prototyping;</li>
        <li class="block__list-item">Design Research
          ;</li>
        <li class="block__list-item">UI Prototyping;</li>
        <li class="block__list-item">Branding and Graphic Development;</li>
        <li class="block__list-item">Interactivity and Animation;</li>
        <li class="block__list-item">Adaptation to All the Devices Screen-size;</li>
      </ul>
      <!-- <p class="block__text">
        Want to enhance your business with a hi-tech solution?

      </p>
      <p class="block__text">
        FILL OUT a form and we’ll get back to you shortly to discuss your 
        next digital successful story!
      </p> -->
    </div>
  </div> 

</section>

<section class="block block--gray">
  <app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

  <div class="block__overlay">189K</div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--xlg-3-5 col--lg-3-5 col--md-1-1 col--sm-1-1 col--xs-1-1">
          <h2 class="block__title">
            More than 189K of unique users of our system per 3 years
          </h2>

          <p class="block__text">Around 1200 of new visitors per day.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block--violet">
  <app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

  <div class="block__overlay">
    94%
  </div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--xlg-3-5 col--lg-3-5 col--md-1-1 col--sm-1-1 col--xs-1-1 ">
          <h2 class="block__title">
            According to the recent survey, more than 94% of
            our clients continue working with us and are sure to recommend our services to their contacts.
          </h2>
          <p class="block__text">
            We invite you to explore their comments on your own.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block--white">
  <app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

  <div class="block__overlay">«</div>

  <div class="block__body">
    <div class="container">
      <app-slider></app-slider>
      <!-- <div class="grid">
        <div class="col--xlg-4-6 col--lg-4-6 col--md-1-1 col--sm-1-1 col--xs-1-1 ">
          <app-slider></app-slider>
        </div>
        <div class="col--xlg-1-6 col--lg-1-6 col--md-1-1 col--sm-1-1 col--xs-1-1 push--lg-1-6 ">
          <div class="block__logo flex flex--center flex--wrap">
            <div class="block__logo-item" [inlineSVG]="'/assets/img/logo/SolidExpert-logo-color.svg'"></div>
            <div class="block__logo-item" [inlineSVG]="'/assets/img/logo/SolidExpert-logo-color.svg'"></div>
            <div class="block__logo-item" [inlineSVG]="'/assets/img/logo/SolidExpert-logo-color.svg'"></div>
            <div class="block__logo-item" [inlineSVG]="'/assets/img/logo/SolidExpert-logo-color.svg'"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="block block--gray">
  <app-grid-line [color]="'rgba(255, 255, 255, 0.1)'"></app-grid-line>

  <div class="block__overlay">18+</div>

  <div class="block__body">
    <div class="container">
      <div class="grid">
        <div class="col--xlg-3-5 col--lg-3-5 col--md-1-1 col--sm-1-1 col--xs-1-1">
          <h2 class="block__title">
            Are you eager to make the digital world better for everyone?
          </h2>
          <p class="block__text">
            Join our ambitious and friendly team to make it happen!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>