<section class="block block--header" *ngIf="developer">
  <h1 class="block__title t--c">{{developer.firstName}} {{developer.lastName.slice(0,1)}} </h1>
  <h2 class="block__subtitle t--c t--gray">( Solid Expert {{developer.levelSeniority}} {{developer.specialization}} )</h2>
  <div class="block__line">
    <!-- <ul class="block__dots">
      <li
        class="block__dots-item block__dots-item--holder block__dots-item--active"
      >
        <p class="block__text block__text--translate">Text</p>
      </li>
      <li class="block__dots-item block__dots-item--holder">
        <p class="block__text block__text--translate">Text</p>
      </li>
      <li class="block__dots-item block__dots-item--holder">
        <p class="block__text block__text--translate">Text</p>
      </li>
      <li class="block__dots-item block__dots-item--holder">
        <p class="block__text block__text--translate">Text</p>
      </li>
    </ul> -->
  </div>
  <button class="btn btn--back btn--md btn--green position--a" (click)="goBack()">go back</button>
</section>

<section class="block block--body">
  <div class="grid grid--collapse">
    <div class="col--md-4-6 col--sm-1-1 col--xs-1-1 col--gray">
      <div class="body__name m--v-lg">
        <h1 class="title">{{developer.firstName}} {{developer.lastName.slice(0,1)}}</h1>
        <p class="subtitle">( Solid Expert {{developer.levelSeniority}} {{developer.specialization}} )</p>
      </div>
      <div class="body__education m--v-lg">
        <p class="text t--gray">
          Bachelor of mathematics & informatics, specialization is economical
          cybernetics
        </p>
        <p class="text t--gray">
          Grodno state Yanka Kupala University | 2011 - 2016
        </p>
        <p class="text t--gray">GPA :7.5</p>
      </div>
      <div class="t--c t--gray">~~~~~~~~~~~~</div>

      <div class="body__experience m--v-lg ">
        <h2 class="subtitle">TECHNICAL EXPERIENCE</h2>
        <ul class="body__experience-list position--r list-style--none" *ngIf="developer?.languages">
          <span class="body__experience-list-subtitle position--r subtitle--inner t--gray">
            Programming languages
          </span>
          <span class="body__experience-list-years position--a subtitle--inner t--gray">
            Years
          </span >
          <li class="body__experience-list-item position--r" *ngFor=" let lang of developer.languages">
            <span class="body__experience-list-skill position--r text">{{lang.name}}</span>
            <span class="body__experience-list-level position--a text">{{lang.years}}</span>
          </li>
        </ul>
        <ul class="body__experience-list position--r list-style--none" *ngIf="developer?.dataBase">
          <span class="body__experience-list-subtitle position--r subtitle--inner t--gray">RDBMS</span>
          <span class="body__experience-list-years position--a subtitle--inner t--gray">Years</span>
          <li class="body__experience-list-item position--r" *ngFor=" let data of developer.dataBase">
            <span class="body__experience-list-skill position--r text">{{data.name}}</span>
            <span class="body__experience-list-level position--a text">{{data.years}}</span>
          </li>
        </ul>
        <ul class="body__experience-list position--r list-style--none" *ngIf="developer?.technologies">
          <span class="body__experience-list-subtitle position--r subtitle--inner t--gray">
            Internet Technologies
          </span>
          <span
            class="body__experience-list-years position--a subtitle--inner t--gray">
            Years
          </span>
          <li class="body__experience-list-item position--r" *ngFor=" let technology of developer.technologies">
            <span class="body__experience-list-skill position--r text">{{technology.name}} </span>
            <span class="body__experience-list-level position--a text">{{technology.years}}</span>
          </li>
        </ul>
        <ul class="body__experience-list position--r list-style--none" *ngIf="developer?.rapidApp">
          <span class="body__experience-list-subtitle position--r subtitle--inner t--gray">
            Rapid Application Development Systems (RAD)
          </span>
          <span class="body__experience-list-years position--a subtitle--inner t--gray">
            Years
          </span>
          <li class="body__experience-list-item position--r" *ngFor=" let app of developer.rapidApp">
            <span class="body__experience-list-skill position--r text">{{app.name}}</span>
            <span class="body__experience-list-level position--a text">{{app.years}}</span>
          </li>
        </ul>
      </div>
      <div class="body__compamy m--v-lg">
        <h2 class="subtitle ">COMPANY DETAILS</h2>
        <div class="grid body__compamy-site">
          <div class="col--1-1">
            <a class="text t--black" href="http://solidexpert.site"
              >http://solidexpert.site</a
            >
          </div>
          <div class="body__compamy-adress col--1-3">
            <h3 class="subtitle--inner t--gray">Offices</h3>
            <p class="text">Headquarters Minsk, Minskaya</p>
          </div>
          <div class="body__compamy-type col--1-3">
            <h3 class="subtitle--inner t--gray">Company type</h3>
            <p class="text ">Privately Held</p>
          </div>
          <div class="body__compamy-size col--1-3">
            <h3 class="subtitle--inner t--gray">Company size</h3>
            <p class="text ">2-10 employees</p>
          </div>
          <div class="body__compamy-sprec col--1-1">
            <h3 class="subtitle--inner t--gray">Specialties</h3>
            <p class="text ">
              .Net, .Net Core, Kotlin, Objective-C, Java, Android, iOS application.
            </p>
          </div>
        </div>
      </div>
      <div class="body__projects  m--v-lg">
        <h2 class="subtitle ">PROJECTS SUMMARY</h2>

        <ul class="body__project-list" *ngIf="developer?.teamProj">
          <span class="body__project-list-subtitle  subtitle--inner t--gray">
            Developed in a team
          </span>
          <li class="body__project-list-item " *ngFor=" let project of developer.teamProj">
            <span class="body__project-list-name subtitle--bold"> {{ project.name }} </span>
            <span class="body__project-list-info  text"> {{ project.description }} </span>
          </li>

        </ul>
        <ul class="body__project-list " *ngIf="developer?.personalProj">
          <span class="body__project-list-subtitle  subtitle--inner t--gray">
            Developed personally
          </span>
          <li class="body__project-list-item " *ngFor=" let project of developer.personalProj">
            <span class="body__project-list-name subtitle--bold"> {{ project.name }} </span>
            <span class="body__project-list-info  text"> {{ project.description }} </span>
            <p>
              <a
                class="subtitle--inner t--blue"
                href="{{project.link}}" >
                {{project.link}}
              </a>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div
      class="col--lg-2-6 col--md-2-6 col--sm-1-1 col--xs-1-1 col--white flex flex--column"
     >
      <div class="block__contacts " ng2-sticky sticky-after=".nav">
      <h3 class="block__subtitle block__subtitle--center">
        More information will be provided by our managers
      </h3>
      <ul class="">
        <li>
          <a class="link link--reset link--hover-line" href="mailto: info@solidexpert.pro">
            info@solidexpert.pro
          </a>
        </li>
        <li>
          <a class="link link--reset link--hover-line" href="tel:+19193233612">
            +1 ( 919 ) 323 36 12
          </a>
        </li>
        <li>
          <a class="link link--reset link--hover-line" href="skype:someskype?call">
            Skype
          </a>
        </li>
      </ul>
      <a
        [routerLink]="['/contact']"
        routerLinkActive="active"
        class="btn btn--green"
        >
        Contact Us
      </a>
      </div>

    </div>
  </div>
</section>
