<footer class="footer container">
  <div class="grid grid--collapse m--v-md">
    <ul class="footer__statment col--md-1-5 col--sm-1-3 col--xs-1-1">
      <li>
        <a
          class="footer__statment-link link t--uppercase t--bold t--gray "
          href=""
          >Privacy statement</a
        >
      </li>
      <li>
        <a
          class="footer__statment-link link t--uppercase t--bold t--gray "
          href=""
          >Cookie statement</a
        >
      </li>
    </ul>
    <ul class="footer__nav footer__nav-left col--1-5">
      <li>
        <a
          class="footer__nav-link link  t--h4 t--bold t--black"
          [routerLink]="['/about']"
          >About</a
        >
      </li>
      <li>
        <a
          class="footer__nav-link link  t--h4 t--bold t--black"
          [routerLink]="['/services']"
          >Services</a
        >
      </li>
      <li>
        <a
          class="footer__nav-link link  t--h4 t--bold t--black"
          [routerLink]="['/products']"
          >Products</a
        >
      </li>
    </ul>
    <ul class="footer__nav footer__nav-right col--1-5">
      <li>
        <a
          class="footer__nav-link link  t--h4 t--bold t--black"
          [routerLink]="['/careers']"
          >Careers</a
        >
      </li>
      <li>
        <a
          class="footer__nav-link link t--h4 t--bold t--black"
          [routerLink]="['/testimonials']"
          >Testimonials</a
        >
      </li>
      <li>
        <a
          class="footer__nav-link link t--h4 t--bold t--black"
          [routerLink]="['/contact']"
          >Contact Us</a
        >
      </li>
    </ul>
    <div
      class="footer__contact col--md-1-5 col--sm-1-3 col--xs-1-1 "
    >
      <ul class="footer__contact-list ">
        <li>
          <a class="footer__contact-list-logo link " [routerLink]="['/']" >
            <span class="t--h5 t--bold t--italic">SOLID Expert Ltd</span>
          </a>
        </li>
        <li>Nemiga 3 , Minsk</li>
        <li>+1 ( 919 ) 323 36 12</li>
        <li>info@solidexpert.pro</li>
      </ul>
    </div>
    <div class="footer__social col--md-1-5 col--sm-1-3 col--xs-1-1 m-xs--v-mini">
      <a
        class="footer__social-link link"
        href="https://www.linkedin.com/company/solidexpertltd"
        target="_blanc"
      >
        <img
          class="footer__social-svg"
          src="/assets/img/icons/linkedin.svg"
          alt="Linkedin"
        />
      </a>

      <a
        class="footer__social-link link "
        href="mailto:info@solidexpert.pro"
      >
        <img
          class="footer__social-svg"
          src="/assets/img/icons/email.svg"
          alt="Email"
        />
      </a>

      <a
        class="footer__social-link link "
        href="https://www.facebook.com/solidexpert.ltd/"
        target="_blanc"
      >
        <img
          class="footer__social-svg"
          src="/assets/img/icons/facebook.svg"
          alt="Facebook"
        />
      </a>
    </div>
  </div>
</footer>
