.footer {
  color: #000 ;
  background: #fff url('/assets/img/page-dev/map.png') no-repeat;
  background-position: cover ;
  background-size: 100%;

  &__container{
    max-width: 66.666667%;
  }

  &__contact{
   padding-left: 16.666667%;
  }

  &__contact:before{
    content: '';
    position: absolute;
    top: 15%;
    width: 4%;
    height: 2%;
    background: #000;
  }
}
