.footer {
  color: #000;
  background: #fff;
}
.footer__container {
  max-width: 70%;
}
.footer .footer__nav-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  background-color: #8190a3;
  transition: all 0.5s;
  height: 3px;
}
.footer .footer__nav-link:hover:after {
  width: 80%;
}
.footer .footer__contact-social-link {
  width: 2.5rem;
}
.footer .footer__contact-statment-link {
  transition: all 0.5s;
}
.footer .footer__contact-statment-link:hover::first-letter {
  color: #00b715;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .footer__nav {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px - 1) {
  .footer .footer__nav {
    display: none;
  }
  .footer .footer__contact {
    padding-left: 0;
    align-items: center;
  }
  .footer .footer__contact-statment {
    text-align: center;
  }
  .footer .footer__contact-statment-link {
    margin: 0 5px ;
  }
  .footer .footer__contact-social-link {
    width: 1.2rem;
  }
  .footer .footer__contact-statment-link {
    font-size: .8rem;
  }
  .footer [class=col--1-4] {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .footer .footer__nav {
    display: none;
  }
  .footer .footer__contact {
    padding-left: 0;
    align-items: center;
  }
  .footer .footer__contact-statment {
    text-align: center;
  }
  .footer .footer__contact-social-link {
    width: 1.2rem;
  }
  .footer .footer__contact-statment-link {
    font-size: .8rem;
  }
  .footer [class=col--1-4] {
    width: 100%;
  }
}
