.footer {
  color: #000;
  background: #fff;
  background-position: cover;
  background-size: 100%;
}
.footer__container {
  max-width: 66.666667%;
}
.footer__contact {
  padding-left: 16.666667%;
}
.footer__contact:before {
  content: "";
  position: absolute;
  top: 15%;
  width: 4%;
  height: 2%;
  background: #000;
}
.footer .footer__nav-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  background-color: #f44336;
  transition: all 0.5s;
  height: 3px;
}
.footer .footer__nav-link:hover:after {
  width: 80%;
}
.footer .footer__contact-statment-link {
  transition: all 0.5s;
}
.footer .footer__contact-statment-link:hover::first-letter {
  color: #f44336;
}
.footer__contact-map:hover .footer {
  background: blue;
}
