.footer {
  color: #000;
  background: #fff;
}
.footer li {
  margin-bottom: 0.5rem;
}
.footer .footer__contact-logo {
  position: relative;
  text-align: right;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
.footer .footer__contact-logo:hover {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.footer .footer__nav-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  background-color: #00b715;
  transition: all 0.5s;
  height: 3px;
}
.footer .footer__nav-link:hover:after {
  width: 80%;
}
.footer .footer__social-svg {
  width: 1.8rem;
}
.footer .footer__statment:hover::first-letter {
  color: #00b715;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .footer__nav {
    display: none;
  }
  .footer .footer__statment {
    text-align: center;
  }
  .footer .footer__contact-list {
    text-align: center;
  }
  .footer .footer__social {
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px - 1) {
  .footer .footer__nav {
    display: none;
  }
  .footer .footer__statment {
    font-size: 0.6rem;
    text-align: center;
  }
  .footer .footer__contact-list {
    font-size: 0.6rem;
    text-align: center;
    margin: 1rem 0;
  }
  .footer .footer__social {
    text-align: center;
  }
  .footer .footer__social-svg {
    width: 1.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .footer .footer__nav {
    display: none;
  }
  .footer .footer__statment {
    text-align: center;
    width: 100%;
    font-size: 0.5rem;
  }
  .footer .footer__contact-list {
    font-size: 0.6rem;
    text-align: center;
  }
  .footer .footer__social {
    margin: 1rem 0;
    text-align: center;
  }
  .footer .footer__social-svg {
    width: 1rem;
  }
}
