<footer class="footer">
  <div class="footer__container container p--reset">
    <div class="flex">
      <nav class="col col--1-2 p--reset m--v-md ">
        <ul class="footer__nav ">
          <li><a class="footer__nav-link link m--sm t--h4 t--bold t--black" [routerLink]="['/']">Home</a></li>
          <li><a class="footer__nav-link link m--sm t--h4 t--bold t--black" [routerLink]="['/development']">Development</a></li>
          <li><a class="footer__nav-link link m--sm t--h4 t--bold t--black" [routerLink]="['/products']">Products</a></li>
          <li><a class="footer__nav-link link m--sm t--h4 t--bold t--black" [routerLink]="['/services']">Services</a></li>
          <li><a class="footer__nav-link link m--sm t--h4 t--bold t--black" [routerLink]="['/contact']">Contact Us</a></li>
        </ul>
      </nav>
      <div class="footer__contact flex flex--column flex--center col col--1-2 m--v-md">
        <a class="footer__contact-map link m--v-md t--black" href="">
          <p class=" t--h4 t--bold">
            Homebase of the media-minded
          </p>
          <p class=" t--h5">
            ‘s-Gravelandseweg 80, 1217 EW  Hilversum
          </p>
        </a>
        <div class="footer__contact-statment">
          <a class="footer__contact-statment-link link t--h6  t--uppercase t--bold t--gray" href="">Privacy statement</a>
          <a class="footer__contact-statment-link link t--h6  t--uppercase t--bold t--gray" href="">Cookie statement</a>
        </div>
      </div>
    </div>
  </div>
</footer>
