@import '../../../../web-src/less/variables.less';
.form{
  & &__button {

    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      background-color:@color-green;
      transition: all 0.5s;
      height: 3px;
    }

    &:hover {
      &:after {
        width: 80%;
      }
    }
  }

  &__input{
    outline: none;
    border: none;
    font-size: 1.5em;
    min-height: 3.5em;
    width: 100%;

    border-bottom:1px solid #000;

    &::placeholder {
      color:#808080;
      font-size: 1.2em;
      font-weight: 600;
    }
    &:focus{
      outline: none;
      border: none;
      border-bottom:1px solid @color-green;
    }
    &-message{
      height: 100%;
      width: 100%;
    }
  }
}

// width 1024 - 1219
@media only screen and (min-width: @breakpoint-md-min) and (max-width: (@breakpoint-lg-min - 1)) {
  .form{
    &__input{
      font-size: 1rem;
    }
  }
}
// width 768 - 1023
@media only screen and (min-width: @breakpoint-sm-min) and (max-width: (@breakpoint-md-min - 1)) {
  .form{
    &__input{
      font-size: 1rem;
    }
  }
}
// width 320 - 767
@media only screen and (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-sm-min - 1) {
  .form{
    &__input{
      font-size: 0.8rem;
    }
  }
}

// width 0 - 319
@media only screen and (max-width: @breakpoint-xs-min) {
  .form{
    &__input{
      font-size: 0.8rem;
    }
  }
}
