.form .form__button:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  background-color: #f44336;
  transition: all 0.5s;
  height: 3px;
}
.form .form__button:hover:after {
  width: 80%;
}
.form__input {
  outline: none;
  border: none;
  font-size: 1.5em;
  min-height: 3.5em;
  width: 100%;
  border-bottom: 1px solid #000;
}
.form__input::placeholder {
  color: #808080;
  font-size: 1.2em;
  font-weight: 600;
}
.form__input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #f44336;
}
.form__input-message {
  height: 100%;
  width: 100%;
}
