<section class="form t--c">
  <div class="grid">
    <div class="col col--1-2">
      <input class="form__input"
        name="firstName"
        type="text"
        [(ngModel)]="firstName"
        placeholder="First name"
      />

      <input class="form__input"
        name="lastName"
        [(ngModel)]="lastName"
        type="text"
        placeholder="Last name"
      />

      <input class="form__input"
        name="contactInfo_Phone_1"
        [(ngModel)]="contactInfo_Phone_1"
        type="tel"
        placeholder="Telephone number"
      />

      <input class="form__input"
        name="contactInfo_Email_1"
        [(ngModel)]="contactInfo_Email_1"
        type="email"
        placeholder="E-mail address"
      />

      <input class="form__input"
        name="company"
        [(ngModel)]="company"
        type="text"
        placeholder="Company"
      />
    </div>
    <div class="col col--1-2">
      <textarea class="form__input"
        name="message"
        id="message"
        cols="45"
        rows="16"
        placeholder="Your message"
      ></textarea>
    </div>
  </div>

  <button
    (click)="click()"
    class="form__button position--r t--h3 t--bold t--c m--v-lg"
    role="button"
    aria-label="Send-Button"
  >
    Send
  </button>
</section>
