<section class="form t--c">
  <div class="grid">
    <div class="col--md-1-2 col--sm-1-1 col--xs-1-1">
      <input class="form__input"
        name="yourName"
        type="text"
        [(ngModel)]="yourName"
        placeholder="Your name"
      />

      <input class="form__input"
        name="contactInfo_Phone_1"
        [(ngModel)]="contactInfo_Phone_1"
        type="tel"
        placeholder="Telephone number"
      />

      <input class="form__input"
        name="contactInfo_Email_1"
        [(ngModel)]="contactInfo_Email_1"
        type="email"
        placeholder="E-mail address"
      />

    </div>
    <div class="col--md-1-2 col--sm-1-1 col--xs-1-1">
      <textarea class="form__input form__input-message"
        name="message"
        id="message"
        cols=""
        rows=""
        placeholder="Your message"
      ></textarea>
    </div>
  </div>

   <button (click)="click()" class="btn btn--md btn--blue m--v-lg m-xs--sm">
    Send
  </button>


</section>

