.form .form__button {
  color: inherit;
}
.form .form__button:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  background-color: #f44336;
  transition: all 0.5s;
  height: 3px;
}
.form .form__button:hover:after {
  width: 80%;
}
