<div class="fourht-block grid">
  <h1 class="col--4-6 push--1-6 title">Unlimited possibilities</h1>
  <div class="fourht-block__description col--4-6 push--1-6">
    <div class="grid">
      <div class="fourht-block__description-left position--r col--lg-3-5 col--md--1-1 ">
        <h3 class="subtitle--black w--60">For beautiful stylized presentations</h3>
        <img class="fourht-block__description-left-img img position--a" src="/assets/img/product-list/details/presentation.png" alt="presentation style">
      </div>
      <div class="fourht-block__description-right position--r col--lg-2-5 col--md-1-1">
        <div class="fourht-block__description-right-backdrop">
          <img class="fourht-block__description-right-img img" src="/assets/img/product-list/details/media.png" alt="media style">
          <h3 class="subtitle--black">For social media posts</h3>
        </div>
      </div>
    </div>
  </div>
</div>
