.fourht-block {
  width: 70%;
  margin: 0 auto;
  padding: 5rem 0;
}
.fourht-block .fourht-block__description {
  z-index: 2;
}
.fourht-block .fourht-block__description-left {
  padding: 6rem;
  background-color: #E1E5E6;
  border-radius: 10px;
}
.fourht-block .fourht-block__description-left-img {
  left: 0px;
  bottom: 0px;
}
.fourht-block .fourht-block__description-right {
  height: 90vh;
  margin-top: -10%;
  border-radius: 10px;
}
.fourht-block .fourht-block__description-right-backdrop {
  padding: 15% 10%;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.fourht-block .fourht-block__description-right-img {
  width: 100%;
  margin-bottom: 8rem;
}
.fourht-block .w--60 {
  width: 60%;
}
.fourht-block .title {
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #54a4ff;
}
.fourht-block .subtitle {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #A7AEB3;
}
.fourht-block .subtitle--black {
  color: #535261;
  font-size: 3.8rem;
  line-height: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.fourht-block .text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
