<div class="fourht-block grid">
  <h1 class="col--1-5 title">Unlimited possibilities</h1>
  <div class="fourht-block__description col--1-1">
    <div class="grid">
      <div class="fourht-block__description-left position--r col--3-5">
        <h3 class="subtitle--black w--60">For beautiful stylized presentations</h3>
        <img class="fourht-block__description-left-img position--a" src="/assets/img/product-list/details/presentation.png" alt="presentation style">
      </div>
      <div class="fourht-block__description-right col--2-5">
        <div class="fourht-block__description-right-backdrop">
          <img class="fourht-block__description-right-img" src="/assets/img/product-list/details/media.png" alt="media style">
          <h3 class="subtitle--black">For social media posts</h3>
        </div>

      </div>
    </div>
  </div>
</div>
