.header .header__burger {
  position: fixed;
  display: inline-block;
  top: 40px;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  padding: 14px 0;
}
.header .header__burger-line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  transition: all .4s;
}
.header .header__burger-line + .header__burger-line {
  margin-top: 8px;
}
.header .header__body {
  display: none;
  height: 0;
}
.header .header__list {
  margin: 0;
  padding: 0;
}
.header .header__link {
  font-size: 3em;
  line-height: 3rem;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  letter-spacing: 0;
  color: #000;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 10px 0;
}
.header .header__link:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  background-color: #f44336;
  transition: all .5s;
  height: 5px;
}
.header .header__link:hover:after {
  width: 100px;
}
.header.open .header__burger-line {
  background-color: #000;
}
.header.open .header__burger-line:nth-child(1) {
  transform: rotate(45deg);
}
.header.open .header__burger-line:nth-child(2) {
  transform: rotate(-45deg);
}
.header.open .header__burger-line + .header__burger-line {
  margin-top: -1px;
}
.header.open .header__body {
  display: block;
  height: auto;
  padding: 120px 0 60px;
  transition: height 10s;
}
