<div class="header " [ngClass]="{'open': isShowMenu}">
    <button role="button" aria-label="Menu Button" class="header__burger" (click)="showMenu()">
      <span class="header__burger-line header__burger-line--upper"></span>
      <span class="header__burger-line header__burger-line--lower"></span>
    </button>
    <div class="container header__body  ">
        <div class="grid">
            <div class="col--2-5 push--1-5">
                <ul class="header__list">
                    <li class="header__item">
                        <a [routerLink]="['/']" class="header__link">Home</a>
                    </li>
                    <li class="header__item">
                         <a [routerLink]="['/development']" class="header__link">Development</a>
                    </li>
                    <li class="header__item">
                        <a [routerLink]="['/products']" class="header__link">Products</a>
                    </li>
                    <li class="header__item">
                        <a [routerLink]="['/services']" class="header__link">Services</a>
                    </li>
                    <li class="header__item">
                        <a [routerLink]="['/contact']" class="header__link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col--1-5 push--1-5">
                <p>SolidExpert LOGO</p>
                <p>1231231</p>
            </div>
        </div>
    </div>
</div>
