<nav class="nav">
	<a href="" class="nav__logo">
		<p>SOLID</p>
		<p>Expert</p>
	</a>
	
	<ul class="nav__menu">
		<li class="nav__item">
			<a [routerLink]="[ '/' ]" routerLinkActive="active" class="nav__link">Home</a>
		</li>
		<li class="nav__item">
			<a [routerLink]="['/services']" routerLinkActive="active" class="nav__link">Services</a>
		</li>
		<li class="nav__item">
			<a [routerLink]="['/products']" routerLinkActive="active" class="nav__link">Products</a>
		</li>
		<li class="nav__item">
			<a [routerLink]="['/vacancy']" routerLinkActive="active" class="nav__link">Vacancy</a>
		</li>
		<li class="nav__item">
			<a [routerLink]="['/testimonials']" routerLinkActive="active" class="nav__link">Testimonials</a>
		</li>
		<li class="nav__item">
			<a [routerLink]="['/contact']" routerLinkActive="active" class="nav__link">Contact Us</a>
		</li>
	</ul>

	<div>
		&nbsp;
	</div>
</nav>