<nav class="nav"[ngClass]="{'open': isShowMenu}">
	<a href="" class="nav__logo">
		<p>SOLID</p>
		<p>Expert</p>
  </a>

  <button role="button" aria-label="Menu Button" class="nav__burger" (click)="showMenu()">
    <span class="nav__burger-line nav__burger-line--upper"></span>
    <span class="nav__burger-line nav__burger-line--lower"></span>
  </button>

  <ul class="nav__menu nav__menu-links">
		<!-- <li class="nav__item">
			<a [routerLink]="[ '/about' ]" routerLinkActive="active" class="nav__link">About</a>
		</li> -->
		<!-- <li class="nav__item">
			<a [routerLink]="['/services']" routerLinkActive="active" class="nav__link">Services</a>
		</li> -->
		<li class="nav__item">
			<a [routerLink]="['/products']" routerLinkActive="active" class="nav__link">Products</a>
		</li>
		<!-- <li class="nav__item">
			<a [routerLink]="['/careers']" routerLinkActive="active" class="nav__link">Careers</a>
		</li> -->
		<!-- <li class="nav__item">
			<a [routerLink]="['/testimonials']" routerLinkActive="active" class="nav__link">Testimonials</a>
		</li> -->
		<li class="nav__item">
			<a [routerLink]="['/contact']" routerLinkActive="active" class="nav__link">Contact Us</a>
		</li>
	</ul>

	<ul class="nav__menu nav__menu-request">
		<li class="nav__item">
			<a [routerLink]="[ '/contact' ]" routerLinkActive="active" class="nav__link ">Send Request</a>
		</li>
	</ul>
</nav>
