.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.8125rem;
  transition: top 0.2s ease-in-out;
  height: 54px;
}
.nav .nav__burger {
  position: fixed;
  display: none;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  padding: 14px 0;
  z-index: 4;
}
.nav .nav__burger-line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s;
}
.nav .nav__burger-line + .nav__burger-line {
  margin-top: 8px;
}
.nav .nav__logo {
  position: relative;
  text-align: right;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  width: 200px;
  margin: 4px 0;
}
.nav .nav__logo:hover {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.nav .nav__logo p {
  font-size: 1.3rem;
  font-weight: 800;
  font-style: italic;
  margin: 0;
  line-height: 1.1rem;
  letter-spacing: 0.2px;
  text-transform: none;
  color: #fff;
}
.nav .nav__menu {
  display: flex;
  align-items: center;
}
.nav .nav__item {
  padding: 0 20px;
}
.nav .nav__link {
  display: block;
  position: relative;
  padding: 10px 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: nonte;
  box-shadow: none;
  outline: none;
  font-size: 0.85rem;
}
.nav .nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 8px;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease-in-out;
}
.nav .nav__link:hover {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
.nav .nav__link:hover:after {
  width: 100%;
}
.nav .nav__link.active {
  color: #00b715;
}
.nav .nav__link.active:after {
  background-color: #00b715;
}
.nav.open {
  min-height: 100vh;
  align-items: flex-start;
}
.nav.open .nav__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav.open .nav__burger {
  top: 8px;
}
.nav.open .nav__burger-line:nth-child(1) {
  transform: rotate(45deg);
}
.nav.open .nav__burger-line:nth-child(2) {
  transform: rotate(-45deg);
}
.nav.open .nav__burger-line + .nav__burger-line {
  margin-top: -1px;
}
@media only screen and (min-width: 1024px) and (max-width: 1219px) {
  .nav .nav__menu-links {
    display: none;
  }
  .nav .nav__burger {
    display: inline-block;
  }
  .nav.open .nav__link {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav .nav__menu-links {
    display: none;
  }
  .nav .nav__burger {
    display: inline-block;
  }
  .nav.open .nav__link {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px - 1) {
  .nav .nav__logo {
    width: 120px;
    margin: 12px 0;
  }
  .nav .nav__menu-links {
    display: none;
  }
  .nav .nav__burger {
    display: inline-block;
  }
  .nav.open .nav__link {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .nav .nav__menu-links {
    display: none;
  }
  .nav .nav__burger {
    display: inline-block;
  }
  .nav.open .nav__link {
    font-size: 2rem;
  }
}
